[2019-05-07 13:42] ncskier opened #19 "TektonListener and EventBinding CRD refactor proposal"
I'm creating this issue following the `TektonListener` and `EventBinding` code being merged into the experimental repo in the `tekton-listener` directory. These two CRDs add great value for eventing with Tekton, but I think they can be refactored to improve their usability.

Sorry in advance for my long-winded explanations 😄

### Why I think the CRDs should be refactored
My concerns with the curre

[2019-05-07 14:58] webvictim opened #20 "Cannot build tekton-listener with ko following the provided instructions in the README"
# Expected Behavior

`controller` and `tekton-listener` containers are built successfully using `ko` and pushed to local Docker repository

# Actual Behavior

Container fails to build with compilation errors

# Steps to Reproduce the Problem

Set up minikube locally and try to run `ko`:

[code]

This can also be reproduced in a clean environment using this minimal `Dockerfile`:

[code]

[2019-05-07 17:05] iancoffey commented on #19
Ive read through this and there is a lot of superb information in here, thank you for it. I think I need to digest it a bit more before being able to full describe my perspective on the solutions above.

My only initial takeaway is that, whatever we land on, I would like the `EventBinding` type to remain, as that is the most accurate description of the purpose of this experimental repo. Hopefully

[2019-05-07 17:57] ncskier commented on #19
Thanks for reading it over Ian. I hope you feel better, and I look forward to hearing all of your thoughts on the proposal. Thanks!

[2019-05-07 18:36] vtereso commented on #19
FWIW, I like this proposal 👍

[2019-05-14 05:37] vincent-pli commented on #19
@iancoffey
Any plan about the refactor? or should I just try the current implement?

[2019-05-14 13:56] iancoffey commented on #19
@vincent-pli Check out the latest PR here https://github.com/tektoncd/experimental/pull/25, this removes most barriers regarding trying/demoing EventBindings.

There will be a really in-depth Getting Started Guide PR'ed here soon. I think its important to see this work through before changing course drastically, so my effort for now is 100% toward getting it all ready for usage. After that, all op

[2019-05-16 03:43] iancoffey commented on #20
Im able to `ko apply` as normal using master, I expect this builds normally for you now - is that the case?

[2019-05-16 05:06] vincent-pli commented on #20
@iancoffey The build could work now, no worry about it 😄

[2019-05-16 21:56] bobcatfish commented on #20
hm, do we know why @webvictim is running into trouble?

[code]

I wonder if you have a different version of these libs installed locally @webvictim ?

[2019-05-16 22:45] webvictim commented on #20
I cleared my GOPATH out, made a brand new directory and ran `go get -u github.com/tektoncd/experimental/tekton-listener/cmd/tekton-listener` locally - same thing happens.

[code]

I'm presuming that this is a legitimate use of `go get` here? It's essentially what `ko` does without making a container, right?

[2019-05-17 12:53] iancoffey commented on #20
@webvictim Full disclosure, I have never tried to install the listener with `go get` like this - so far, the listener has always run in a Pod, either applied with  `ko` or via pre-built image. Im curious about your use-case so it can be better supported, if you have a sec to describe that.

About the failures - I see this was missing a `dep ensure`. If you cab try a `go build ./cmd/...` using the

[2019-05-17 14:09] webvictim commented on #20
I haven't used `ko` much, so was trying to just remove a little of the complexity/layers it adds and figured I could build either `controller` or `tekton-listtener` as a straight-up Go binary outside of a container just to make sure it ran. I don't actually want to use it this way.

I pulled master and ran `go build ./cmd/...`:

[code]

[2019-05-17 14:12] webvictim commented on #20
This is what happens when trying to `ko apply -L -f config/` on a fresh Minikube after pulling:

[code]

[2019-05-17 14:42] iancoffey commented on #20
@webvictim I see, interestingly, I have not been able to reproduce that failure no matter what I try. Im going to try a fresh build on a fresh laptop and see what happens

[2019-05-17 18:59] iancoffey commented on #20
To try to reproduce these build failures:
- created a new ubuntu 18:10 vanilla instance
- installed vanilla go and godep via apt
- checked out the this experimental && cd'ed into the tekton-listener dir
- `dep ensure`
- `go install ./cmd/...` returned 0 and produced the binary
- then I tried go get:
[code]

[2019-05-20 17:03] akihikokuroda opened #28 "Build and Publish webhook extension images"
# Expected Behavior

We want to build and push the webhook extension images in to public repository like gcr.io or dockerhub when the code is merged into master.  These images will be available for testing, experimenting and use.

# Actual Behavior
No docker images are built.  No images are published.

[2019-05-21 10:05] webvictim commented on #20
That sequence of events worked fine for me too - it appears to be the use of `dep ensure` (which wasn't previously mentioned anywhere) that solved the problem. Thanks.

[2019-05-21 13:05] #20 closed

[2019-06-03 06:02] vincent-pli opened #35 "Questions about EventBinding"
@iancoffey
I saw the `Getting start` doc.
Firstly, I like the project, seems it's depends on `Knative event-sources` (Am I right?), so it could support all `sources` from `Knative-sources`, such as `github`, `kafka` .etc. that's great.

I still have some question need clarification, thanks
1. No `event binding` in `EventBinding` crd.
I have not see any event binding, like things: `${event.foo}`, j

[2019-06-04 09:19] mnuttall opened #36 "Pull Request / Webhooks integration"
Build state should be reflected in Pull Requests that have been triggered by webhooks.

Much of the relevant work is being done within the pipelines repo. See the design doc https://docs.google.com/document/d/1MXy-AOZmrgNusX710MgeERin_RkjNhnl0P5e5-ROhuc/edit#heading=h.7lbf68d7v887 which is linked from https://github.com/tektoncd/pipeline/issues/778

See also https://github.com/tektoncd/pipeline/pu

[2019-06-04 09:30] mnuttall opened #37 "Webhooks for multiple branches in a single repository"
See slide 9 in this presentation by @dibbles. :
[Extension.pdf](https://github.com/tektoncd/experimental/files/3251593/Extension.pdf)

Currently we build commits on any branch but end up with a jumble of pipeline runs sorted at best by date. We need to be able to filter pipeline runs by repository and then further, optionally, by branch. @MNUTTALL talked to @skaegi  about this at the end of May. W

[2019-06-04 09:31] mnuttall commented on #37
[Extension.pdf](https://github.com/tektoncd/experimental/files/3251585/Extension.pdf)

[2019-06-04 09:43] mnuttall opened #38 "Access Token Management"
The 'first pass' at panelling for webhook management allows for access tokens to be created and deleted. We need a separate 'access token management' page where existing tokens can be presented in tabular form, as well as created and deleted. (Edit is not required.)

Consider whether users creating webhooks can be linked to and from a unified access token management dialog when creating one in the

[2019-06-04 09:54] mnuttall opened #39 "Broaden scope of supported pipelines"
See https://github.com/tektoncd/dashboard/issues/47 - this issue and dashboard 47 are very closely linked, and are probably duplicates.

Webhooks creation and manual pipeline run initiation are much too hardcoded for a small subset of test pipelines. We need a much more flexible design in both areas. Ideally:
- replace our 'sink' code with the EventBinding/TektonListener experimental engine
- See

[2019-06-04 10:07] mnuttall opened #40 "Stop using Knative for webhooks"
The initial webhooks implementation used the Knative and the Knative GitHub Event Source to:
- Create and delete GitHub webhooks
- Expose an external endpoint via ksvc/Ingress for the GitHub webhooks to be delivered to
- Deliver webhook payloads to the webhooks 'sink' code for processing

The Knative dependency resulted in 'webhooks' being implemented as a dashboard extension rather than as core d

[2019-06-04 10:18] mnuttall opened #41 "Docker push as 'webhook' for pipeline trigger"
Webhooks are the first 'event' we've used to trigger PipelineRuns. This Epic covers our expanding to support 'docker push' as a means to initiate a Tekton PipelineRun.

'Docker push' targets to support include,
- OpenShift - "OpenShift Container Platform provides an internal, integrated Docker registry that can be deployed in your OpenShift Container Platform environment to locally manage images"

[2019-06-04 10:37] mnuttall opened #42 "Webhooks support for Gitlab"
Currently we can only create webhooks for GitHub. GitLab is a widely used alternative that we should support.

Note that Epic https://github.com/tektoncd/experimental/issues/40 would remove our use of the Knative GitHub Event Source. The implementation work under this epic needs to take that done, or planned, under 40 into account.

[2019-06-04 10:54] mnuttall opened #43 "Offline webhooks"
We expect Tekton to be deployed into operational environments that are deliberately restricted from reaching out to the Internet. Webhooks still need to be configured and piplelines to run.

Set up, test, document and rework such that we can demonstrate webhooks and pipelines working for:

- No internet access
- GitLab - source code, pipeline definitions
- Maven repository in Nexus - Java projects

[2019-06-04 12:38] iancoffey commented on #35
I have not see any event binding, like things: ${event.foo}, just some environment variables: $GHREPO, I think this could come from the content of event.

I agree, this is a super important part that is non-existent in this experiment so far. The reason is more about order of operations now - there will soon be a major refactor of the TektonListener. I wanted to see how that shakes out before tryi

[2019-06-04 12:49] mnuttall opened #44 "Multiple namespace management"
As a webhooks-extension user I want to set up one webhook to trigger the `Red` pipeline in the `red-team` namespace and another hook to trigger the `Green` pipeline in the `green-team` namespace.

There may be other cross- or multi-namespace issues that should become clearer while working on this one.

See also 'all namespaces' support in the dashboard, https://github.com/tektoncd/dashboard/issues

[2019-06-04 13:18] ncskier commented on #35
Hi Ian, to follow up on your comment

What is the use case that you see for the TektonListener by itself without any EventBindings? I was under the impression that the point of these resources was to solve the problem of triggering PipelineRuns from Events.

[2019-06-04 15:22] mnuttall opened #45 "Prototype Pull Request support in a webhooks-driven pipeline"
https://github.com/tektoncd/pipeline/pull/895 is getting close to being merged. It introduces a first level of support for a PullRequest PipelineResource. Use this issue to build a working prototype in which a pipeline run created by a webhook from an incoming Pull Request from a github fork results in the associated pull request being updated. We want to know:
- Can we access the 'status' of the

[2019-06-04 16:07] vtereso opened #46 "Unify Experimental Eventing"
As both of the experimental projects address the same core problem, triggering `pipelineRun`s, it makes sense to coalesce into one code base.

In the current form of the `webhooks-extension` code, RESTful endpoints use internal representations/structs and config-maps to stand as a (less than ideal) `pipelineRun` templating solution. Although heavily constrained, for the use case it does generate `

[2019-06-05 00:14] vincent-pli commented on #35
@ncskier
I think there is one case: the Pipeline stuff do not need anything from Event content but trigger.
like this: https://github.com/tektoncd/pipeline/issues/836

@iancoffey
For the `PipelineResource`, I think there two approach:
1. Create it when `Event` received and delete it after `PipelineRun` complete.
2. Create `PipelineResource` template, that will be great if `PipelineResource` could

[2019-06-05 13:06] mnuttall opened #47 "Add 'Repository' and 'Branch' filters to PipelineRuns"
This issue is part of `experimental` epic #37 but concerns development changes in `dashboard`. The webhooks extension needs to be able to filter pipeline runs by repository and branch: it makes sense to surface this capability to dashboard users.

Under Dashboard > PipelineRuns, users should be able to filter the pipeline runs shown by 'git repository' and 'branch'. These can be passed as query pa

[2019-06-05 13:07] mnuttall opened #48 "View list of branches for a webhook"
Further to #47 and as per the .pdf sketch linked in #37, clicking on a webhook name in the list of webhooks should take the user to a list of branches in the associated git repository. This will need additional support from the REST API to retrieve this list - we might as well get the list of branches from git, rather than by scraping them from all the pipelineruns we might have.

(There's the pos

[2019-06-05 13:07] mnuttall opened #49 "View builds triggered by a webhook for a given branch"

[2019-06-05 13:08] mnuttall opened #50 "Display build status in webhook 'branches' collection"

[2019-06-05 13:08] mnuttall opened #51 "View webhook settings in 'details' panel"

[2019-06-05 14:56] iancoffey commented on #35
@ncskier So the Listener project existed and was PRed before the EventBinding concept was added - and lots of the design is around not having their functionality overlap so the listener can continue to be useful on its own. The Listener experiment spec defines an event type and (eg `CloudEvent`) and an event (like `com.github.push`) to listen for and creates PipelineRuns when it gets the right one

[2019-06-07 09:30] mnuttall opened #53 "Design for access token management"
As per Epic #38,

Key issues to resolve:
- What's the navigation path to the access token management page?
- Given the restrictions imposed by the 'extension' architecture, can the 'create webhook' panelling be refactored so as to pass 'create access token' to a unified 'create' panel? Or is the current 'pop up' panel ok as it is?

[2019-06-07 10:39] mnuttall opened #54 "'Getting started' guide for webhooks"
Further to https://github.com/tektoncd/experimental/pull/52 we need a clear and simple guide for how to set up webhooks via the dashboard webhooks-extension. This needs to cover:

- Importing pipeline definitions
- Create git and docker hub secrets for use in a pipeline
- Create a webhook, and in the course of that create an access token which will be used to create the webhook
- Create a simple d

[2019-06-10 13:28] mnuttall opened #55 "Access token collection: first pass"
Access tokens are required to manage git webhooks. Access tokens can be created and deleted via the 'create webhook' wizard but a more general 'access token management' page is required.

This issue leads on from #53 which asks two issues needing design input:
- What's the navigation path to the access token management page?
- Can a single 'create access token' dialog be reused between 'create web

[2019-06-11 09:48] mnuttall opened #56 "Investigate OpenShift Container Platform docker/image registry as a source of events"
This issue is part of Epic #41: 'docker push'  as a trigger for Tekton pipelines. In this case, we want to know what it will take to trigger Tekton pipelines as a result of operations on the OpenShift Container Platform container registry. As a preliminary investigation we need to know:
- Does the OCP container registry offer an external API?
- Does it support webhooks? What if any events can be s

[2019-06-11 09:48] mnuttall opened #57 "Investigate Docker Hub as a source of webhook/trigger/events"
I had doubts immediately on raising this issue. DockerHub is only a useful source of trigger events if they can be routed to a given Tekton instance. I'm going to put this in the Icebox until we've a clearly identified need to implement this support.

[2019-06-11 10:04] mnuttall opened #58 "Prototype GitLab support for webhooks"
GitLab is a popular source control system that many users will wish to integrate with Tekton via webhooks. We currently use the Knative GitHub Event Source which does not support GitLab. This issue is part of Epic #42 which is ranked lower than Epic #40, 'Stop using Knative for webhooks.' Ideally #40 should be progressed before this issue - in particular, we need a clear design for
- how we expect

[2019-06-11 11:44] vincent-pli commented on #58
Please check: this https://github.com/knative/eventing-contrib/pull/382
I guess Knative will support `gitlab` as eventing source soon.

[2019-06-11 14:47] mnuttall commented on #58
Thanks for the pointer @vincent-pli - that's a huge pull request :-o

[2019-06-12 09:30] a-roberts opened #59 "Add automated tests for webhooks extension"
Like we do for the dashboard and pipeline repositories, we need to be able to build and test PRs automatically for code added into the webhooks-extension folder.

This includes running the Go tests and web tests when we eventually add them.

A good place to start is to look at the code [here](https://github.com/tektoncd/dashboard/blob/master/test/presubmit-tests.sh) and [here](https://github.com/t

[2019-06-12 10:27] vdemeester commented on #59
/assign

[2019-06-12 10:40] a-roberts commented on #59
@vdemeester hero! 😄

/meow

[2019-06-13 09:23] #59 closed

[2019-06-13 12:46] dibbles opened #61 "Webhooks table should only show webhooks in the selected namespace"
One could argue that the webhooks extension should only show items in the table that are in the selected namespace from the dropdown of the main dashboard (left hand menu).

[2019-06-13 12:49] dibbles opened #62 "Webhooks table should use table skeleton rather than spinner to denote loading"
When the webhooks table is loading a spinner indicates the page is loading, one could reasonably argue that this should instead be rendering the page but with a carbon component table skeleton.

http://react.carbondesignsystem.com/?selectedKind=DataTableSkeleton&selectedStory=default&full=0&addons=1&stories=1&panelRight=0&addonPanel=storybook%2Factions%2Factions-panel

[2019-06-13 12:52] dibbles opened #63 "Webhooks UI accessibility assessment and fixes"
The webhooks extension user interface needs looking over for a11y issues and any fixes needed should be made.

[2019-06-13 12:57] dibbles opened #64 "Webhook creation UI needs input validation"
The webhooks creation form currently checks that all fields are complete before enabling the Create button - this is inconsistent with other pages in the main dashboard which validate on submission and highlight the incorrect fields red boxes.

In addition to checking that the field is not empty we should...

    Validate display name chars ?
    Validate URL entry ?
    Validate docker registry f

[2019-06-13 12:58] dibbles opened #65 "Webhooks Show/Hide token covers some of the input"
When creating a new access token secret via the UI, the icon for showing/hiding the access token characters actually sits over the text entered - thus if you enter something really long the last couple of chars can disappear behind the icon - this shouldn't happen.

Additionally, the icon is not fully inside the text entry box and sometimes when the box is selected the blue lines cut through the i

[2019-06-13 13:01] dibbles opened #66 "Webhooks tab indexing on creation form"
The webhook creation UI seems to be a bit random when it comes to using the tab key to navigate around the page.... we should flow in a logical manner across the fields (this might have been looked at under the a11y issue https://github.com/tektoncd/experimental/issues/63)

[2019-06-13 13:02] dibbles opened #67 "Webhooks - improve the "add" button on the display table"
The Add button on the main display table is not the cleanest/prettiest design going, replace with something more stylish - perhaps just an icon.

[2019-06-13 13:02] dibbles commented on #67
/assign

[2019-06-13 13:03] dibbles opened #68 "Webhooks - notification need close buttons"
Success and error notifications seem to be missing close buttons on the webhooks UI.

[2019-06-13 13:14] dibbles commented on #67
/status in-progress

[2019-06-13 13:17] dibbles opened #69 "Webhooks - credential POST should not take namespace as query parameter"
When creating a credential using the webhooks extension the API uses:
[code]
This is inconsistent with create webhook and general practice, where the namespace would be included in the body of the post, not as a query parameter.

[2019-06-13 15:27] dibbles opened #70 "Webhooks create button alignment incorrect"
When all fields are complete the create button jumps to the left due to incorrect css refactoring sharing the cancel buttons css.

[2019-06-13 15:28] dibbles commented on #70
/assign

[2019-06-13 15:53] dibbles commented on #70
fixed under https://github.com/tektoncd/experimental/pull/71

[2019-06-13 15:53] #70 closed

[2019-06-13 16:01] a-roberts opened #72 "npm test fails for webhooks_extension"
# Expected Behavior
`npm test` should pass, then we can get into the automated testing runs

# Actual Behavior

See
[code]
# Steps to Reproduce the Problem

1. `npm install`
2. `npm test`

# Additional Info
Actual code, jest config or babel related I reckon!

[2019-06-13 16:04] a-roberts commented on #72
/assign

@dibbles informs me we need to use setShowNotificationOnTable in our tests too 😄 PR coming up

[2019-06-13 16:16] a-roberts opened #74 "Automatically run web tests for webhooks extension"
Just like we do for the dashboard we should also run `npm install` and `npm test` for now.

For reference see https://github.com/tektoncd/experimental/issues/59 for what was done for running Go tests.

I'm going to make a new issue for linting as well as we'll want that for sure (again like we do for the dashboard). I'm cool with npm install and npm test only for now.

[2019-06-13 16:18] a-roberts opened #75 "Add and resolve any linter errors for webhooks extension"
Like for the dashboard we should automatically run a linter for every PR. Note that whoever picks this up should fix the linter issues first; else this PR is never going to go green!

https://github.com/tektoncd/dashboard/search?utf8=%E2%9C%93&q=lint&type= is an excellent place to start.

[2019-06-13 16:21] a-roberts commented on #72
Merged so closing 🎈

[2019-06-13 16:21] #72 closed

[2019-06-14 09:10] a-roberts opened #76 "Rework installation instructions for webhooks extension"
It's currently non-trivial to install the extension following our instructions. Under this issue, rework the main README.md with a view to making it easy to install and use the extension if you're just a consumer and not somebody wishing to develop it or extend it.

[2019-06-14 09:11] jessm12 commented on #76
/assign

[2019-06-14 09:59] mnuttall commented on #28
Please work with @vdemeester to make this happen.

[2019-06-14 10:00] a-roberts commented on #28
For anyone that does pick this up: will we need to run `npm run build_ko` (like we do for the dashboard, see its package.json) and then reference the new extension hash in the extension service yaml?

We get a new hash whenever we build the bundle and its web content changes (the hash is from the source code). Investigate and see if *just* building and pushing the image is enough or not.

[2019-06-14 10:09] vdemeester commented on #28
We can do what we did for `tektoncd/dashboard` :angel:
I may be able to take a look at that next week :angel:

[2019-06-14 16:21] mnuttall opened #77 "Sink needs to support operation in non-default namespace"
Further to https://github.com/tektoncd/experimental/commit/03eeb7c09260928896e5eaa51a982de50e87a7d4 we see this in webhooks-extension/config/sink-kservice.yaml:
[code]
This prevents webhooks from working in non-default namespaces unless one edits that file, which is less than ideal. Is there any way around this in Knative Serving yet? We want to extract ourselves from Knative so don't want to a lo

[2019-06-17 12:55] jessm12 commented on #77
/assign

[2019-06-17 13:11] dibbles opened #79 "Webhooks: repo url needs to be stored without .git ending"
If a repository URL is entered that ends with .git, the pipelinerun is not created fro the webhook trigger - this is because a lookup is done on the repourl without the .git.

We need to work with and without .git being entered.

[2019-06-17 13:11] dibbles commented on #79
/assign

[2019-06-17 13:13] dibbles opened #80 "Webhooks: access token is not auto set in dropdown to the one created"
When creating an access token secret in the create webhook UI, the secret is not then shown as selected in the drop down upon success.  I would expect after successful creation, that it is shown as the selected item.

[2019-06-17 14:58] jessm12 opened #82 "Go test failing 'TestCreateDeleteCorrectData'"
# Expected Behavior

The Webhooks experimental unit tests pass reliably.

# Actual Behavior

`TestCreateDeleteCorrectData` has been seen to be failing in the unit tests, I have seen two successive failures on my PR which report:

[code]

# Additional Info

See https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_experimental/78/pull-tekton-experimental-unit-tests/11406145799

[2019-06-17 18:48] vtereso commented on #82
[code]
There is no coordination between creations and deletions in this code snippet s.t. deletes may occur before creations, which would cause it to fail.

[2019-06-17 18:55] vtereso commented on #82
As mentioned [here](https://golang.org/pkg/runtime/), `runtime.GOMAXPROCS()` This sets the number of operating system threads that may be utilized, but goroutines are managed by the go runtime and have no guarantee to correspond 1-1 with native threads.

[2019-06-17 19:26] vtereso commented on #69
The dashboard credential is our visualization of a secret although it has a secret backing. In this way, we get the worst of both worlds since we cannot directly use credentials as CRD or use information such as namespace that is naturally available, etc. The experimental repo does the same, but exposes a different view of the secrets that back it. Likely, we should swap to using secrets in the da

[2019-06-17 20:47] akihikokuroda commented on #45
I take this.

[2019-06-17 20:47] akihikokuroda commented on #45
/assign

[2019-06-18 07:59] dibbles commented on #67
PR: #83

[2019-06-19 10:28] a-roberts commented on #82
Spoke with @vtereso about this today, we've got a fix and I have it in https://github.com/tektoncd/experimental/pull/81

[2019-06-19 13:13] akihikokuroda commented on #45
So far, I see the https://github.com/tektoncd/pipeline/pull/895 working for retrieving and push back the pull request payload.  It implemented the update of the comments and labels not.  I'll try some updates.  For the prototype, I'll update the webhook sink code to extract the pullrequest URL form the payload so that can create the PullRequest pipeline resource.  I can not use the pipelinerun sta

[2019-06-19 19:34] vtereso commented on #47
IIUC, a pipelineRun is related to a branch/repo through an assumed GitResource (as specified [here](https://github.com/tektoncd/pipeline/blob/ffbb67959dec0abb0f07b1d456398a99531d89f8/pkg/apis/pipeline/v1alpha1/git_resource.go#L46)). I will add labels to runs created through the dashboard should the resource exist.

[2019-06-19 19:34] vtereso commented on #47
/assign

[2019-06-20 12:54] akihikokuroda commented on #45
@afrittoli demonstrated "PR -> Tekton Pipeline -> Image in Registry -> Comment on the PR with URL of the image@digest"  in the CloudEvent PipelineResource E2E demo (https://docs.google.com/document/d/1rPR7m1Oj0ip3bpd_bcS1sjZyPgGi_g9asF5YrExeESc/edit#)

[2019-06-20 15:24] akihikokuroda commented on #45
Design proposal doc: https://docs.google.com/document/d/1Ry1B37QZlN6wwjgYj4TUdNwq_Wtex0A3nj11yizfqZI/edit#heading=h.r917fv3d9wg8

[2019-06-21 09:01] a-roberts commented on #74
Note that on running the tests there are a few errors reported that we could do with resolving here too: for example,

[code]

and

[code]

For `window.scrollTo`, @ncskier suggests we could mock this function to be an empty function instead (e.g. with `window.scrollTo = jest.fn();` in our beforeEach as part of a global test mock set up).

[2019-06-21 13:50] a-roberts opened #85 "Developers should use `npm ci` when installing the webhook extension from source"
# Expected Behavior
package-lock.json should be adhered to

# Actual Behavior
We suggest `npm installing`. We should suggest Node.js 10.x I believe and `npm ci` instead so our package-lock.json is taken into account.

@dibbles noticed bold font styling and a scrollbar on the delete dialog for the extension when using Node 12 with a newly generated package-lock.json as a result of npm installing -

[2019-06-21 13:52] a-roberts opened #86 "Implement consistency across UI components for webhooks extension"
# Expected Behavior
We should have consistency e.g. modal fading background behaviour, text alignments, and the modal appearance and colours used (e.g. for the delete webhook modal and for the create access token modal).

# Actual Behavior
![image](https://user-images.githubusercontent.com/12814972/59927305-1438fc80-9434-11e9-9eaa-348a6cffec0e.png)

vs

![image](https://user-images.githubuserconte

[2019-06-21 13:53] a-roberts opened #87 "Checkbox button should reset for deleting PipelineRuns (webhooks extension)"
# Expected Behavior
The checkbox button should reset for deleting PipelineRuns. We should have a test for this too. Could be as simple as, when we display the dialog, setting the state of the checkbox to be unchecked, and then add a test for it.

# Actual Behavior
It's not reset to be unchecked on modal entry for the delete dialog.

# Steps to Reproduce the Problem

1. Install the webhooks extensi

[2019-06-21 13:56] a-roberts opened #88 "Improve checkbox styling for deleting webhooks"
# Expected Behavior

We'd like a white background with a simple blue tick as opposed to a blue background and a white tick.

# Actual Behavior

![image](https://user-images.githubusercontent.com/12814972/59927484-7d207480-9434-11e9-95a3-88af1c6e33f6.png)

![image](https://user-images.githubusercontent.com/12814972/59927502-83aeec00-9434-11e9-95c0-be8eb8c2106d.png)

# Steps to Reproduce the Problem

[2019-06-24 09:31] dibbles commented on #47
I'm not sure this approach would fulfill what we are attempting to achieve, unless I have misunderstood things in the PR (see further notes on PR) : https://github.com/tektoncd/dashboard/pull/279

[2019-06-24 14:08] a-roberts commented on #82
This is merged, closing

[2019-06-24 14:08] #82 closed

[2019-06-24 14:19] dibbles commented on #79
Rather than changing how it is stored, I have simply modified the comparison with the configmap to ignore case and to strip any .git suffix.

[2019-06-24 14:21] #67 closed

[2019-06-24 14:25] dibbles opened #91 "Webhooks delete menu still active after successful deletion"
# Expected Behavior

The delete webhooks pop up toolbar menu that shows when selecting webhoooks in the table should disappear if the webhooks are successfully deleted.

# Actual Behavior

After the webhook is deleted, the menu is still active and showing "0 selected"

# Steps to Reproduce the Problem

1. create some webhooks
2. select one in the table
3. click delete and confirm
4. the blue delet

[2019-06-24 15:49] dibbles commented on #80
/assign

[2019-06-24 21:28] akihikokuroda commented on #45
I created the task that checks the status of tasks in the same pipeline except itself.  It determines if everything is OK or any error happens.    It updates the pull request with the result.  I'll update the webhook to create the pullrequest pipeline resource.

[2019-06-25 09:44] #79 closed

[2019-06-25 09:57] #80 closed

[2019-06-25 10:09] dibbles commented on #88
/assign

[2019-06-25 10:13] dibbles commented on #74
/assign

[2019-06-25 10:41] jessm12 commented on #77
Added a solution under https://github.com/tektoncd/experimental/pull/94

[2019-06-25 14:02] #75 closed

[2019-06-25 14:04] mnuttall opened #95 "Re-enable tests in webhook_test.go"
https://github.com/tektoncd/experimental/pull/93 had to disable three tests in webhook_test.go since they were failing under Prow:

TestMultipleDeletesCorrectData
TestMultipleCreatesCorrectData
TestCreateDeleteCorrectData

Fix these tests so that they pass reliably under Prow.

[2019-06-25 15:25] carlos-logro commented on #68
/assign @carlos-logro

[2019-06-25 16:56] carlos-logro commented on #68
/status in-progress

[2019-06-25 17:00] carlos-logro commented on #63
/assign

[2019-06-25 19:26] carlos-logro commented on #63
@dibbles After reviewing I see that all the text fields & dropdowns have their respective `labelText` although hidden (not sure if its hidden from screen readers). They also have a div that comes before each field that works as a label too.

@AlanGreene do these `labelText` value work as aria-labels? Lastly, the only place where I did not see any a11y values were on the tooltips. Should they have

[2019-06-25 19:26] carlos-logro commented on #66
/assign

[2019-06-25 21:44] AlanGreene commented on #63
`labelText` does act as an accessible name as it's used for the content of a `<label for="...">{labelText}</label>`

The accessibility tab in the Chrome dev tools is very useful to inspect this type of thing.

![image](https://user-images.githubusercontent.com/2829095/60132633-d3bee300-9793-11e9-9446-b67ef4c584a3.png)

Depending on how things are hidden visually, they may or may not be hidden from

[2019-06-26 10:33] a-roberts opened #98 "Add test to check bundle-location is correct"
# Expected Behavior
We should have a check that builds the bundle for our webhook extension code and then checks the resulting file matches is referenced in the bundle location for the extension service. Details below.

We have a config folder has `extension-service.yaml`, which specifies a bundle location. For example:

[code]

When you do `npm run build`, you get a bundle created with a hash.

W

[2019-06-26 10:58] a-roberts commented on #87
I'll work on this, added a test for it just now and resetting the state, I'm going to wait until @dibbles lands his changes for the improved styling (and perhaps using a real Carbon Checkbox) before creating my PR so I'm all up to date.

[2019-06-26 13:22] akihikokuroda commented on #45
There some design issue in the current webhook for the pullrequest support.  I hope that the new event triggering will cover these.

With the current Tekton, the same pipeline can not be used for the webhook for the commit and the pull request.  The pull request pipeline needs the pullrequest pipeline resource and the pipelinerun must provide it.  The pipelinerun needs to provide the resource when

[2019-06-26 13:30] akihikokuroda commented on #45
For this prototype, I'll create a new pipeline with the pullrequest pipeline resource. Its name will be "pipelinename" + "-pull".  The webhook will use the pipeline (pipelinename-pull) instead of the specified pipeline (pipelinename) when it get the pull request notification.

[2019-06-26 19:09] carlos-logro commented on #63
@dibbles @AlanGreene @mnuttall

<img width="780" alt="Screen Shot 2019-06-26 at 2 49 29 PM" src="https://user-images.githubusercontent.com/49996607/60207292-7f634400-9823-11e9-9505-bd281d9afa57.png">

<img width="714" alt="Screen Shot 2019-06-26 at 2 49 38 PM" src="https://user-images.githubusercontent.com/49996607/60207301-84c08e80-9823-11e9-9548-d9ca00998656.png">

<img width="723" alt="Screen S

[2019-06-27 08:42] AlanGreene commented on #63
I agree with the guidelines that non-zero tab index should be avoid where possible. Most of the time it's not required as the natural focus order provides the expected flow.

As for the tooltips, many of the form elements accept a `helperText` prop that will display this information below the label. This is the approach used on the Import page. See the form usage guidelines for more:
- https://www

[2019-06-27 08:54] dibbles opened #102 "Show notification on creation page when last webhook deleted"
Upon deleting the final webhook, the create webhook page is displayed.  There is no otification to say that webhook(s) were successfully deleted and that there are now no existing webhooks configured.

It would be nice to have this notification so that the user understands a) things have succeeded and b) why they are seeing the creation panel.

[2019-06-27 09:51] a-roberts opened #104 "Update docs to reference new dashboard install namespace"
# Expected Behavior

Our documentation for the APIs include a namespace in the request body.

Check the dashboard install namespace is referenced in all cases. See https://github.com/tektoncd/dashboard/pull/268 for background: the default namespace will now be `tekton-pipelines`.

[2019-06-27 10:25] a-roberts commented on #88
Merged so closing 😸

[2019-06-27 10:25] #88 closed

[2019-06-27 12:41] a-roberts commented on #87
Merged so closing

[2019-06-27 12:41] #87 closed

[2019-06-27 12:50] a-roberts commented on #28
@akihikokuroda Vincent has been an absolute hero again: I've just pulled images OK that he's made available now.

The coordinates are:

- gcr.io/tekton-nightly/extension:latest
- gcr.io/tekton-nightly/sink:latest

@vdemeester - I'm going to close this off as I believe your work here is now done!

@jessm12 is going to work on our docs to refer to said images for consumers to use.

Thanks 😈

[2019-06-27 12:50] #28 closed

[2019-06-27 14:01] a-roberts commented on #74
Duane's implemented this, closing 😄

[2019-06-27 14:01] #74 closed

[2019-06-27 19:18] carlos-logro commented on #68
@mnuttall @a-roberts this can be closed

[2019-06-28 08:41] dibbles commented on #98
/assign

[2019-06-28 09:26] a-roberts commented on #77
We've verified this works fine in the tekton-pipelines namespace now, closing 😄

[2019-06-28 09:26] #77 closed

[2019-06-28 09:27] a-roberts commented on #76
New instructions are now merged, closing 😸

[2019-06-28 09:27] #76 closed

[2019-06-28 10:15] a-roberts opened #114 "Test flakiness: timeouts for webhook creations"
# Expected Behavior

Tests should reliably pass
# Actual Behavior

Timeouts occur, see [here](https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_experimental/113/pull-tekton-experimental-unit-tests/1144545984747933697/) for example

[code]

Obvious thing to check would be to increase the timeout

# Steps to Reproduce the Problem

1. Run our npm tests on Prow

# Additional

[2019-06-28 10:54] a-roberts commented on #114
This may have been addressed by @dibbles as part of https://github.com/tektoncd/experimental/pull/112 so will close if we don't see this again in the new few runs.

[2019-06-28 10:57] a-roberts commented on #98
Now merged so closing

[2019-06-28 10:57] #98 closed

[2019-06-28 11:36] #68 closed

[2019-06-28 19:05] carlos-logro commented on #66
@dibbles @AlanGreene
so I managed to have the tabIndexes working in order & **partially** skip the disabled ones but for some reason the child elements of the Dropdown maintain the `tabIndex = 0`& right now Im stuck in figuring out how to bypass that. I even asked in the #carbon-react channel & did not have a solution. Ended up creating an issue in the carbon design system repo: https://github.com

[2019-06-28 20:18] akihikokuroda commented on #45
I could make the end-to-end scenario work with the docker for desktop and the github enterprise.
I had to add the github enterprise support in the Pullrequest pipeline resource.  I probably create a PR for it in the pipeline.

[2019-06-28 21:12] carlos-logro commented on #66
came up with a better solution although it be a little cheating.

check the PR for more details.

[2019-06-28 21:31] carlos-logro commented on #63
kept checking the a11y specs with the IBM DAP tool & everything seemed to be fine even with the new tooltips I added.

[2019-07-01 08:58] a-roberts commented on #95
Enabled once more, thanks @mnuttall

/meow dream

[2019-07-01 08:58] #95 closed

[2019-07-01 09:00] a-roberts commented on #104
This is merged, closing

[2019-07-01 09:00] #104 closed

[2019-07-01 09:07] a-roberts commented on #69
@vtereso I agree, we should cover that as a new issue (I believe we discussed this on a scrum, it would be useful to do a "spike' where we figure out why we have what we have now for credentials and go from there).

As part of this task I'll do what it says on the tin and make it a path parameter, updating tests etc and docs.

[2019-07-01 09:18] jessm12 commented on #65
/assign

[2019-07-01 12:54] dibbles commented on #114
/assign

[2019-07-01 14:06] dibbles commented on #114
9 build run (3 batches of 3 simultaneous runs) - no failure seen thus far ..... will leave for a week and re-assess

[2019-07-01 14:08] dibbles commented on #91
/assign

[2019-07-01 14:10] akihikokuroda commented on #45
I created a PR for the GHE support for the Pull Reqeust pipeline resource: https://github.com/tektoncd/pipeline/pull/1033

How should I warp up this issue?  I have one task, one example pipeline that uses the task and sink.go in the webhook extension.

Will we implement this in the current webhook extension or wait for the new triggering code?

[2019-07-01 21:11] akihikokuroda commented on #45
There is one thing that must be decided if the code is in the current webhook.  So far, there are 2 pipelines necessary.  One is for the manual trigger without updating the pull request and the other is for the pull request trigger that update the pull request at the end.  In the prototype, I just named the latter as the first pipeline name plus "-pull" so that the webhook handing code can switch

[2019-07-02 08:30] dibbles opened #123 "Webhooks do not delete unless in namespace of install"
Using latest code for dashboard and experimental, it seems on my install that the webhook is added to the configmap in the namespace where the dashboard is running - whilst when attempting to delete the webhook, we look for it in the configmap in the namespace specified during creation.

After fixing - this will also need a test writing as I assume there is not one.

To recreate:

Create a webhook

[2019-07-02 08:40] dibbles opened #124 "Webhooks access token modal displays incorrectly"
# Expected Behavior

Buttons of equal size when disabled

# Actual Behavior

The Buttons appear to be non-uniform in size when disabled.  Fix would be to add somewhere in the modal scss something like

.bx--modal-footer button.bx--btn {
    max-width: 50%;

# Steps to Reproduce the Problem

1. Click create webhook
2. Select a namespace
3. Click to + button to create access token

# Additional Info

[2019-07-02 10:53] jessm12 commented on #124
/assign

[2019-07-02 10:53] a-roberts commented on #124
@jessm12 has a fix for this so moving to in progress

[2019-07-02 12:43] dibbles commented on #91
This appears to be a bug/standard behaviour with this component: see bug report https://github.com/carbon-design-system/carbon/issues/2621

[2019-07-02 12:45] dibbles commented on #91
Additional note ..... if we choose to stick with default behaviour, we need to fix issue where you can click delete with no rows selected .... in this case a notification should be shown stating that a webhook must be selected.

[2019-07-02 12:47] dibbles commented on #123
/assign

[2019-07-02 13:50] a-roberts commented on #46
@vtereso @ncskier am I right in thinking this is being worked by yourself as part of the whole `triggers` repository?

If so can you update this issue's status accordingly please (even if it's just to assign yourself and move to in progress)?

I'm thinking that's the case but it's lingering in the backlog for anyone else to pick up rn

[2019-07-02 14:08] ncskier commented on #46
/assign @ncskier
/assign @vtereso

[2019-07-02 15:04] ncskier commented on #46
Update:
Most of the discussion about unifying the Experimental eventing is documented in issue https://github.com/tektoncd/pipeline/issues/315. The unified proposal/design (https://docs.google.com/document/d/1fngeNn3kGD4P_FTZjAnfERcEajS7zQhSEUaN7BYIlTw) is now beginning its implementation phase in the [triggers repo](https://github.com/tektoncd/triggers).

Progress can be tracked on the trigger re

[2019-07-03 03:29] vincent-pli opened #127 "Webhooks: the name of the JS file is changed"
# Expected Behavior
The extension works
# Actual Behavior
Get 404
# Steps to Reproduce the Problem
Install Webhook extension follow the guide

# Additional Info
The `annotations`: "tekton-dashboard-bundle-location" in `service` definition is not correct now.
it's "extension.50c02586.js" now.

So I guess we need document the issue, since I saw this in `rollup.config.js`
[code]

The `hash` will chan

[2019-07-03 09:50] dibbles opened #128 "Webhooks table batch action bar visible in safari"
Using safari 12.1.1 and I am seeing the webhooks table display a little strange.  The table batch actions toolbar that displays when you select an item in the table is partially visible behind the table header.![Screenshot 2019-07-03 at 10.50.08.png](https://images.zenhubusercontent.com/5809f18995e42b6c5baad615/01811982-d048-4679-810e-c2b994fc5386)

[2019-07-03 12:19] dibbles opened #130 "Webhooks table header looks like it has some border issues in firefox"
The webhooks table first and last column header look as though they are a couple of pixels different either in height or border compared to others.

Only seeing this in firefox...

![Screenshot 2019-07-03 at 13 19 27](https://user-images.githubusercontent.com/22838162/60590954-35cfa780-9d95-11e9-81e4-1430d2abcece.png)

[2019-07-03 12:44] carlos-logro commented on #102
/assign

[2019-07-03 14:50] dibbles commented on #127
Closing this issue as the hash problem has been/is being resolved (CLA problems have been holding out a number of PRs).

Additionally tests have been delivered that check the hash in the yamls match the hash produced by the build to try and reduce the chance of this problem re-occurring.

Changes in.....

https://github.com/tektoncd/experimental/commit/d8e4b3b3593b008be0ce09b6ad8b425eb731cd48
http

[2019-07-03 14:50] #127 closed

[2019-07-03 16:18] a-roberts opened #131 "Update webhooks extension docs now that we detect extensions from dashboard"
# Expected Behavior

Now that https://github.com/tektoncd/dashboard/pull/259 is in, check that our docs for the extension are still accurate. The dashboard is now aware of a new service popping up. Maybe there's nothing to do here as we do still care for the hash as it's needed to be loaded in the first place.
 See https://github.com/tektoncd/experimental/blob/de0d081a10bdc0dee2e1de9e97e9ef0c00b87

[2019-07-03 18:05] akihikokuroda commented on #45
The 2 pipeline issue can be resolved by the conditional task run.  The webhook always creates the pipelinerun with the pull request resource.  The rul in the resource has a fake value when the notification is not the pull request.  The webhook also passes the type of notification as the parameter.  The pull request update task should be conditional and executed only when the notification type is t

[2019-07-04 09:27] jessm12 commented on #124
/close

[2019-07-04 09:27] #124 closed

[2019-07-04 12:06] a-roberts commented on #69
Merged so closing

[2019-07-04 12:06] #69 closed

[2019-07-04 12:27] dibbles commented on #114
Not seen in recent times so closing.

[2019-07-04 12:27] #114 closed

[2019-07-04 12:29] dibbles commented on #91
Behaviour left as is for table .... validation added to delete button under: https://github.com/tektoncd/experimental/pull/132

[2019-07-04 12:29] #91 closed

[2019-07-04 12:42] dibbles opened #134 "Move search bar border to outer edge"
# Expected Behavior

When searching on the webhooks table, I would expect the blue border around the search entry to be on the outer edge

# Actual Behavior

Border currently appears on the inner text area, likely due to a change in the underlying carbon component

# Steps to Reproduce the Problem

1. Go to webhooks table
2. Click on the search icon

# Additional Info

<img width="942" alt="Screen

[2019-07-04 13:45] jessm12 commented on #65
/close

[2019-07-04 13:45] #65 closed

[2019-07-06 08:22] castlemilk opened #136 "FR: support a git polling mechanism for eventing"
I'd really be keen to see a git polling solution available to enable rapid prototyping and support for some more locked down environments which prohibit the exposure of a webhook endpoint for github to call.

Support a git polling based approach would enabling the following use cases:

* enterprise/secured environments which don't expose a publicly available webhook endpoint, consequently unable t

[2019-07-08 11:17] AlanGreene opened #137 "Webhooks front end code should use the actions and selectors provided by the dashboard"
# Expected Behavior

The dashboard exposes a number of items to extensions to ensure consistency and compatibility, and to reduce code duplication. Among these are the redux actions and selectors required to request and process all of the core data used by the dashboard (namespaces, pipelines, etc.).

The extension code should use these, to ensure compatibility with any changes made in the dashboa

[2019-07-08 13:30] akihikokuroda commented on #45
I updated the sink to create a taskrun in addition of the pipelinerun.  The taskrun monitors the status of the pipelinerun and update the pullrequest based on the result of the pipelinerun.  This way seems better than adding an additional task at the end of the pipelinerun.  It doesn't need 2 pipeline definition and the status check code is much simpler.  We can provide the default taskrun and we

[2019-07-09 08:44] jessm12 opened #140 "Add filter labels to PipelineRuns triggered by a webhook"
We want to be able to filter within the dashboard `PipelineRuns` that have been triggered by a webhook through the extension. To do this we will need to add labels when each PipelineRun is triggered relating to the the repository and branch that it has originated from.

This issue relates to the backend work to add the relevant labels when we create a `PipelineRun` in our 'sink' code in response t

[2019-07-10 13:21] kimholmes commented on #38
Is this a duplicate of #53 ?

[2019-07-10 15:43] #66 closed

[2019-07-10 15:44] #102 closed

[2019-07-11 10:47] mnuttall opened #142 "RBAC support for webhooks creating pipelineruns in non-default namespaces"
Further to #123 we want users to be able to setup webhooks that will run pipelines in other namespaces under RBAC controls.

So for example, the webhooks-extension should fail due to lack of permissions to
- patch service accounts
- create secrets
in other namespaces.

Write a ClusterRole for the webhooks-extension and attach it to the service account used by default by the webhooks extension. Tes

[2019-07-11 13:02] a-roberts commented on #131
PR https://github.com/tektoncd/experimental/pull/143

[2019-07-11 13:04] a-roberts commented on #140
I'll work this, same label as we add for a manually created PipelineRun I guess?

@dibbles do you know what we have in mind?

[2019-07-11 19:34] akihikokuroda commented on #45
PR for the webhook: https://github.com/tektoncd/experimental/pull/138/
PR for the Task: https://github.com/pipeline-hotel/example-pipelines/pull/3

[2019-07-15 10:35] a-roberts commented on #140
This is now merged so closing 😄

[2019-07-15 10:35] #140 closed

[2019-07-15 13:51] carlos-logro commented on #61
/assign

[2019-07-15 15:56] kimholmes commented on #51
/assign @ncskier

[2019-07-15 15:57] kimholmes commented on #51
/unassign @githubusername

[2019-07-15 15:57] kimholmes commented on #51
/unassign @githubusername

[2019-07-15 15:58] ncskier commented on #51
/assign @ncskier 😄 👍

[2019-07-15 16:00] ncskier commented on #51
/unassign @ncskier 😄 👍

[2019-07-15 16:13] kimholmes commented on #51
/assign @mi-wang

[2019-07-15 18:17] mi-wang commented on #38
What I have so far: (first pass)
![Secrets](https://user-images.githubusercontent.com/51759906/61238667-1d537b80-a70b-11e9-9274-a5522c81bc1d.png)

In process of finding a way to link webhooks and secrets

[2019-07-15 18:18] mi-wang commented on #53
Creation Flow for Secrets: (first pass)
![1Create Secret](https://user-images.githubusercontent.com/51759906/61238794-6acfe880-a70b-11e9-8f94-270c26854bf4.png)
![2Secret Credentials](https://user-images.githubusercontent.com/51759906/61238796-6acfe880-a70b-11e9-9715-02a70a778792.png)
![3Connectivity](https://user-images.githubusercontent.com/51759906/61238798-6acfe880-a70b-11e9-8e9d-62b38818df08.p

[2019-07-15 18:26] mi-wang commented on #38
right hand side multi-select seems to be more intuitive
![right hand side multiselect](https://user-images.githubusercontent.com/51759906/61239282-8b4c7280-a70c-11e9-9ab4-ef22ed7af8ac.png)

[2019-07-16 08:34] a-roberts commented on #142
I have OpenShift 3.11 running following guidance from @mnuttall so I'll start to work on this today.

[2019-07-16 10:12] a-roberts opened #145 "Add multiple browsers to issue template for UI changes (webhooks extension)"
# Expected Behavior

I propose our issue template be modified to include checkboxes for UI changes, for testing with:
- [ ] Google Chrome
- [ ] Safari
- [ ] Firefox

(we could/should specify certain versions too, but please just check them with whatever you're running for now).

This is to prevent issues such as https://github.com/tektoncd/experimental/issues/128 appearing that are browser specifi

[2019-07-16 10:32] Megan-Wright commented on #128
/assign

[2019-07-16 12:09] a-roberts commented on #142
Made good progress on this, created a secret and webhook fine in a non-default namespace, and I've got the existing permissions for creating Pipelines/PipelineRuns etc from the dash in my new role and in use by the SA.

I've got the knative set up to complete next before I create my pull request so I can test PipelineRuns get created and complete successfully.

I'm using the the following names:
[

[2019-07-16 13:30] a-roberts opened #147 "Namespace missing from config (but not release) yaml - webhooks extension"
# Expected Behavior
The namespace metadata field is missing but present in the release yaml. We should include the tekton-pipelines namespace

webhooks-extension
# Actual Behavior
It's not present
# Steps to Reproduce the Problem

1. Install using the existing yaml, observe it's in your current namespace (probably default)

[2019-07-16 13:40] a-roberts commented on #45
The task is now merged, next we need to take a look at the extension PR

[2019-07-16 18:20] carlos-logro commented on #62
/assign

[2019-07-17 10:44] dibbles opened #150 "Webhook tooltips trigger form to POST"
If you click on a tooltip on the webhook creation form you receive an error - as for some reason it attempts to submit the form.

[2019-07-17 10:59] dibbles opened #151 "Notifications permanently hidden after first one closed"
# Expected Behavior

Notifications should never be "hidden"

# Actual Behavior

If you close an error notification, and do something to trigger another error, the page scrolls to the top but the error is never shown

# Steps to Reproduce the Problem

1. create a webhook
2. create another webhook with same name
3. close the error notification
4. create the webhook with the same name again, the page

[2019-07-17 13:43] mi-wang commented on #38
My mistake! I thought Secrets were Access Tokens..

Here is a quick update on Access Token:
![1Access Token](https://user-images.githubusercontent.com/51759906/61379604-d9c95080-a875-11e9-8061-18dea7e76f58.png)
![2Access Token Import](https://user-images.githubusercontent.com/51759906/61379605-d9c95080-a875-11e9-98b8-0772e455043f.png)
![success](https://user-images.githubusercontent.com/51759906/6

[2019-07-17 13:45] mi-wang commented on #53
My mistake on mixing up Secrets and Access Token Management!
Here is an update:

![1Access Token](https://user-images.githubusercontent.com/51759906/61380581-9ff94980-a877-11e9-9a12-1b068ef71fdf.png)
![2Access Token Import](https://user-images.githubusercontent.com/51759906/61380582-9ff94980-a877-11e9-8fa0-272be6a0ca1e.png)
![success](https://user-images.githubusercontent.com/51759906/61380583-9ff

[2019-07-17 13:52] carlos-logro commented on #64
@dibbles @a-roberts @AlanGreene

planning on taking this issue after Im finish updating the webhook filtering. Any specific approaches you guys have in mind? Or should I apply the same validation I did for the secrets creation.

[2019-07-17 19:13] carlos-logro commented on #151
/assign

[2019-07-17 19:40] mi-wang commented on #53
Thanks for feedback! I made the changes :)

Updated Invision Link:
https://ibm.invisionapp.com/share/UBNZ3TAXAY2

![1 secrets](https://user-images.githubusercontent.com/51759906/61406083-2aa66c80-a8a9-11e9-8ab8-9d8bb28e9fac.png)
![1 UserPass](https://user-images.githubusercontent.com/51759906/61406085-2aa66c80-a8a9-11e9-828f-2337ee32466b.png)
![1 2UserPass](https://user-images.githubusercontent.co

[2019-07-17 20:10] carlos-logro commented on #150
/assign

[2019-07-17 21:22] carlos-logro commented on #137
/assign

[2019-07-18 09:37] a-roberts opened #156 "Secret token appears in logs"
# Expected Behavior

We should not be printing the secret token in the webhooks-extension logs, and when this code is moved to the main dashboard (we'll need access tokens/secret tokens etc for pull requests), we should ensure it's still being starred out.

# Actual Behavior

The secret token appears in the logs, access token doesn't.

# Steps to Reproduce the Problem

1. Create a webhook through

[2019-07-18 10:48] Megan-Wright commented on #156
/assign

[2019-07-18 14:08] ncskier commented on #38
It was discussed offline that since Access Tokens are used by Tekton [Pull Request Resources](https://github.com/tektoncd/pipeline/blob/master/docs/resources.md#pull-request-resource), we can integrate Access Tokens into the core Dashboard's Secrets page, instead of making Access Tokens a separate Extensions page. 👍

This raises a few design questions about how to create paneling for Secret with d

[2019-07-18 16:10] a-roberts commented on #142
Done, tested on OpenShift 3.11: created a webhook, a secret, a PipelineRun with no problems now. All merged with https://github.com/tektoncd/experimental/pull/146 so closing.

It was discussed that for proper multiple namespace support we can go about creating roles etc/service accounts in other namespaces as we go - I've not done this as part of this item though as this really covers the install

[2019-07-18 16:10] #142 closed

[2019-07-23 10:40] Megan-Wright commented on #85
/assign

[2019-07-23 14:18] akihikokuroda commented on #45
I refreshed the PR for the webhook:  https://github.com/tektoncd/experimental/pull/154

[2019-07-23 15:27] Megan-Wright commented on #86
/assign

[2019-07-23 15:39] a-roberts commented on #156
Merged with https://github.com/tektoncd/experimental/pull/159, closing

[2019-07-23 15:39] #156 closed

[2019-07-23 18:17] akihikokuroda opened #163 "Unique resource name generation in the webhook"
# Expected Behavior

The pipelinerun, taskrun and pipeline resource names generated in the webhook must be unique.

# Actual Behavior

There are some possibilities that the generated name is not unique.

# Steps to Reproduce the Problem

So far, I haven't seen it but it was pointed out in the code review.

# Additional Info

[2019-07-24 09:52] dibbles opened #164 "PR test failures are ignored"
# Expected Behavior

PR unit tests when failing should make the PR as not having passed

# Actual Behavior

PR unit tests are showing as passed even though they have failed

# Steps to Reproduce the Problem

1. Go to a PR, go to the unit tests and see they have failures, e.g. https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_experimental/162/pull-tekton-experimental-unit-

[2019-07-24 10:00] a-roberts commented on #164
I'll work on this and fix the tests.

[2019-07-24 12:36] a-roberts commented on #164
@dibbles's fixed this as part of https://github.com/tektoncd/experimental/pull/166, closing

[2019-07-24 12:36] #164 closed

[2019-07-24 12:38] a-roberts opened #167 "Re-enable and fix skipped tests"
# Expected Behavior

We're currently skipping a bunch of tests that were failing as part of https://github.com/tektoncd/experimental/pull/166. These tests should be enabled and pass once more.

# Actual Behavior
They're skipped

# Steps to Reproduce the Problem

1. Run the experimental unit tests without any skipped tests

[2019-07-24 20:41] carlos-logro opened #170 "resolve warning message: Cannot update during an existing state transition (such as within `render`)."
# Expected Behavior
state is being changed without warning messages.

# Actual Behavior
state is being set in the render method which produces this warning message:
`Warning: Cannot update during an existing state transition (such as within 'render'). Render methods should be a pure function of props and state.`

# Steps to Reproduce the Problem

1. Go to the browser & use extension normally.
2. M

[2019-07-24 21:03] carlos-logro commented on #170
/assign

[2019-07-24 21:11] carlos-logro commented on #64
/assign

[2019-07-24 21:12] carlos-logro commented on #64
since no suggestions or approaches were given im going to implement the same approach i used when implementing the create secret modal.

[2019-07-24 21:13] kimholmes commented on #51
/assign @kimholmes

[2019-07-24 21:14] kimholmes commented on #53
/assign mi-wang

[2019-07-24 21:15] kimholmes commented on #38
/assign mi-wang

[2019-07-24 21:16] kimholmes commented on #51
/assign @mi-wang

[2019-07-24 21:16] kimholmes commented on #51
/assign @kimholmes

[2019-07-24 21:26] kimholmes commented on #51
@mnuttall Please provide a description.

[2019-07-25 09:43] a-roberts opened #172 "Document OpenShift install instructions (webhooks extension)"
# Expected Behavior

Like for https://github.com/tektoncd/dashboard/issues/374 we should mention how users can install and run with the webhooks extension on OpenShift. The steps here are going to be involved - referring to setting up Knative and Istio for example.

# Actual Behavior

It's not obvious that OpenShift can be used: I've tested that it can and all is well, so let's call that out.

# S

[2019-07-25 10:58] a-roberts commented on #167
Merged so closing

[2019-07-25 10:58] #167 closed

[2019-07-25 14:52] Megan-Wright commented on #128
/close

[2019-07-25 14:52] #128 closed

[2019-07-25 14:53] Megan-Wright commented on #85
/close

[2019-07-25 14:53] #85 closed

[2019-07-25 19:31] akihikokuroda commented on #51
From API, the user can set the following items in the webhook configuration.  I assume that the UI should have the same.

Mandatory items:
[code]
Optional items:
[code]

[2019-07-25 21:12] carlos-logro commented on #62
/close

[2019-07-25 21:12] #62 closed

[2019-07-25 21:13] carlos-logro commented on #61
/close

[2019-07-25 21:13] #61 closed

[2019-07-25 21:13] carlos-logro commented on #151
/close

[2019-07-25 21:13] #151 closed

[2019-07-29 19:53] akihikokuroda commented on #45
Adding the error message in the pipelinerun to the pull request when the pipelinerun fails.
PR: https://github.com/pipeline-hotel/example-pipelines/pull/5

[2019-07-30 10:59] CarolynMabbott opened #177 "Webhooks Extension doesn't work with Knative 0.7.x - we need 0.7.1 support."
Although we're moving off Knative we need interim support for 0.7.1. Hopefully it's as simple as @castlemilk suggests below.

Package a dashboard and webhooks extension 0.2.1 release once this is available:
- Tekton 0.7.x
- Knative 0.7.1

------------------------

Webhooks extension throws up errors when using Knative 0.7.0

When trying to create a webhook via the UI the following error is shown i

[2019-07-30 15:15] a-roberts commented on #131
Was merged ages ago, closing

[2019-07-30 15:15] #131 closed

[2019-07-30 15:16] a-roberts commented on #86
Megan's changed are merged (https://github.com/tektoncd/experimental/pull/173), closing

[2019-07-30 15:16] #86 closed

[2019-07-30 15:17] dibbles opened #179 "Notification not showing success when deleting all webhooks"
# Expected Behavior

When deleting the last webhook a notification should be shown on the create webhook page to indicate the last webhook has been deleted and thus none now exist.

# Actual Behavior

Whilst the notification is shown if you only have one webhook (which you then delete), if you create two and then select both and press delete - the notification does not show.

# Steps to Reproduce

[2019-07-30 15:27] carlos-logro commented on #150
/close

[2019-07-30 15:27] #150 closed

[2019-07-30 16:53] mi-wang commented on #53
Latest Update:
Invision Link:
https://ibm.invisionapp.com/share/UBNZ3TAXAY2

[2019-07-30 16:54] mi-wang commented on #38
Latest Update:
Invision Link:
https://ibm.invisionapp.com/share/UBNZ3TAXAY2

[2019-07-30 17:00] mi-wang commented on #51
I put the optional items under a dropdown box label 'Additional Details'
![Screen Shot 2019-07-30 at 1 00 10 PM](https://user-images.githubusercontent.com/51759906/62149585-10698700-b2ca-11e9-80a0-1d73a69c93c4.png)

[2019-07-31 09:35] dibbles opened #181 "Vulnerability scan"
The application should likely be scanned for vulnerabilities.  I am not sure on any recommended open source tools that could be added into the automated build and test - IBM has an appscan vulnerability scanning solution so perhaps could at least perform some manual scans??

[2019-07-31 12:53] ncskier commented on #51
@mnuttall This issue doesn't have a description, and I think there's some confusion about what the issue is actually specifying (at least I'm slightly confused 😅 ).

I thought that this issue was about creating paneling for this page in the Webhooks Extension:
![Screen Shot 2019-07-31 at 8 49 29 AM](https://user-images.githubusercontent.com/16961496/62213166-52e59f00-b370-11e9-8f38-3c8e1b397d46.pn

[2019-07-31 15:34] a-roberts commented on #172
Merged so closing

[2019-07-31 15:34] #172 closed

[2019-08-01 09:59] dibbles commented on #51
Yes ... although some of what is on those pages might be wishful thinking on my part .... mostly the paramters table as we haven't really put any thought into setting/overriding parameters on a pipeline - or if we have a use case for that the moment.

[2019-08-01 12:08] nirvana-flame commented on #181
AppScan is good tool for static/dynamic scaning for vulnerabilities.

snyk.io is great openSource vulnerabilities scaning tool.

[2019-08-01 20:36] carlos-logro commented on #179
/assign

[2019-08-01 21:01] carlos-logro commented on #64
/close

[2019-08-01 21:01] #64 closed

[2019-08-02 16:17] mii-w commented on #38
Updated Invision link:
https://ibm.invisionapp.com/share/X8NZ5IMQM4B

Please let me know if any links are broken and if you have any feedback/comment would be greatly appreciated :)

[2019-08-02 18:58] ImJasonH opened #185 "RFC: Tekton DSL based on Starlark"
# Problems

* Tekton's API is too complex and requires too many lines of too-deeply-indented YAML to define a complex real-world workflow.
  * Some platforms like JenkinsX provide their own DSL that wraps Tekton's API; in JX's case that DSL is also YAML.
  * The problem of verbose and brittle YAML exists in all of Kubernetes, but Tekton is especially sensitive to it because its object model is so

[2019-08-02 19:48] carlos-logro commented on #137
/close

[2019-08-02 19:48] #137 closed

[2019-08-05 10:56] a-roberts opened #186 "Show access token eye icon isn't aligned with error icon"
# Expected Behavior

The eye and the ! icon should be aligned when both are presented as a user neglects to provide an access token

# Actual Behavior

![image](https://user-images.githubusercontent.com/12814972/62459687-f6bbba00-b777-11e9-9d2e-d23697b47586.png)

# Steps to Reproduce the Problem

1. Neglect to provide an access token (e.g. just type something into the access token field, then remo

[2019-08-05 12:55] dacleyra opened #188 "ssh auth does not work with webhooks-extension"
# Expected Behavior

ssh auth should be able to pull from git repository as per

https://github.com/tektoncd/pipeline/blob/master/docs/auth.md

# Actual Behavior

gitrepositoryurl is used by the webhook to
1. generate webhook using api token
2. populate pipelineresource url

If pipelineresource url is in the form of https, it will look for type basic-auth secret
If pipelineresource url is in the f

[2019-08-05 19:23] kimholmes commented on #38
Comments on Invision prototype:
For the first screen you come to, it would better to start at the top of the detail window, and then show the screen where it has scrolled down:
![temp1](https://user-images.githubusercontent.com/21316329/62487314-7d2fc600-b78f-11e9-8fa2-bc194093957e.png)

- Once in the detail of a particular secret, do we need an "Edit" button? Should it not just be editable automa

[2019-08-06 09:12] a-roberts opened #191 "On deleting the last webhook, selecting an item for target pipeline sends me to the top of the page"
# Expected Behavior
It shouldn't - it doesn't if there's no notification at the top of the page

# Actual Behavior
On selecting an entry with the notification up, you're sent to the top of the page again

# Steps to Reproduce the Problem

1. Create a webhook
2. Delete the webhook
3. Try to create a new one, selecting, for example, a target pipeline namespace - observe the problem

See https://gith

[2019-08-06 09:24] a-roberts opened #192 "On refreshing create webhooks page, 404 error returns getting secrets"
# Expected Behavior

It shouldn't

# Actual Behavior

http://localhost:9097/#/extensions/webhooks-extension/create

# Steps to Reproduce the Problem

1. Go to the webhook create page
2. Refresh the page
3. Observe

![image](https://user-images.githubusercontent.com/12814972/62528173-4f508d00-b834-11e9-9c4b-9c8529434b2c.png)

It tries to use the url http://localhost:9097/v1/extensions/webhooks-exte

[2019-08-06 10:09] jessm12 commented on #191
/assign

[2019-08-06 10:54] mnuttall commented on #163
@akihikokuroda please could you provide a pointer to the code, or code review, in question? Thank you!

[2019-08-06 13:21] jessm12 commented on #191
PR: https://github.com/tektoncd/experimental/pull/193

[2019-08-06 13:53] a-roberts commented on #191
Merged so closing

[2019-08-06 13:53] #191 closed

[2019-08-06 16:01] akihikokuroda commented on #45
PR: https://github.com/tektoncd/experimental/pull/189 merged.

[2019-08-06 16:01] akihikokuroda commented on #45
/close

[2019-08-06 16:01] #45 closed

[2019-08-06 19:17] carlos-logro commented on #186
/assign

[2019-08-06 19:21] carlos-logro commented on #170
/close

[2019-08-06 19:21] #170 closed

[2019-08-06 19:21] carlos-logro commented on #179
/close

[2019-08-06 19:21] #179 closed

[2019-08-06 19:34] carlos-logro commented on #134
/assign

[2019-08-06 19:57] carlos-logro commented on #192
/assign

[2019-08-07 12:52] a-roberts commented on #186
Merged so closing, cheers Carlos

[2019-08-07 12:52] #186 closed

[2019-08-07 15:57] dibbles opened #198 "Change format of delete webhook modal"
The delete webhooks modal should make the name of the webhooks more prominent than the "deleted associated pipelineRuns" text.... it looks a little confusing in terms of the important data?

![Screenshot 2019-08-07 at 16.55.44.png](https://images.zenhubusercontent.com/5809f18995e42b6c5baad615/e726ecc3-8ed9-47a9-98e1-d10d347083ef)

It looks stranger if you are deleting multiple webhooks.

[2019-08-08 09:34] dibbles opened #199 "Update PR status based on result on pipeline(s)"
# Expected Behavior

If the webhook triggers pipeline(s) to run, and the monitoring task report failures, then change the automatically change the pull request status

# Actual Behavior

The monitor task currently adds comments to the pull request, but I do not believe that it alters the status in any way.

[2019-08-09 09:34] siamaksade commented on #185
The proposal is valid and definitely required IMHO for Tekton to reach wider adoption. Interacting with Tekton using K8s YAML objects is too verbose and cumbersome. Tooling can assist to an extent but there are limitations to that.

However I still see benefits in providing a more compact YAML format instead. That's the approach taken by Jenkins X and frankly majority of other CI solution (GitLab,

[2019-08-09 11:54] ImJasonH commented on #185
Yeah that's a fair question.

First: I believe that Tekton's API syntax today is roughly as simple as it can get for the level of flexibility it provides, and the extent of functionality it lets you describe. If this isn't true today, we should work to _make_ it true, and probably sooner rather than later since this complexity hurts adoption, with or without a DSL. If there are specific examples o

[2019-08-09 12:28] akihikokuroda commented on #188
/assign

[2019-08-09 15:18] akihikokuroda commented on #188
The webhooks API is expecting only https url.  The DEVELOPMENT.md must be updated.  The webhook is using Knative github event source to setup the webhook in the github.  It requires the access token.  So as far as webhook depends on the Knative github event source, the ssh auth doesn't work for the webhook.  The activities in the triggers repo will probably replace the webhook in the experimental

[2019-08-12 15:49] carlos-logro commented on #192
/close

[2019-08-12 15:49] #192 closed

[2019-08-14 10:49] jessm12 opened #201 "Error reported when deleting webhooks with multiple PipelineRuns"
# Expected Behavior
When using the experimental webhooks-extension for the Dashboard, deleting a webhook and its associated `PipelineRuns` completes successfully and reports as a success

# Actual Behavior
<img width="1158" alt="Screenshot 2019-08-14 at 11 01 51" src="https://user-images.githubusercontent.com/32932155/63015319-83f1c380-be88-11e9-8fd4-6fca9ff5011c.png">
@dibbles first observed this

[2019-08-15 12:23] TenSt opened #202 "Webhooks extention: namespace is missing in some objects in v0.1.0/webhooks-extension_release.yaml"
# Expected Behavior

Namespace "tekton-pipelines" is present for all objects.

# Actual Behavior

Namespace is missing for the next objects:
 - deployment "webhooks-extension"
 - service "webhooks-extension"
 - knative service "webhooks-extension-sink"
 - tekton task "monitor-result-task"

These objects are installed in the "default" namespace which leads to error in the installation.

# Steps to

[2019-08-15 13:40] carlos-logro commented on #198
/assign

[2019-08-15 19:40] kimholmes commented on #47
Working on this user flow. Would love feedback:

**Default state:**
![TektonFilter1](https://user-images.githubusercontent.com/21316329/63121298-1326d600-bf72-11e9-8846-b5bb06a8651e.png)

**Hover state:**
![TektonFilter2](https://user-images.githubusercontent.com/21316329/63121318-1f129800-bf72-11e9-8a67-c185a454ad96.png)

**Click state:**
![TektonFilter3](https://user-images.githubusercontent.com

[2019-08-16 13:03] dibbles opened #204 "Webhooks extension returns HTTP 403 Forbidden on OKD"
When installing as per the openshift guidelines onto an OKD cluster, the webhooks-extension service cannot be reached - returning a HTTP 403 Fobidden response.

This is because the ClusterRole yaml does not have the following:

[code]

We either need a separate openshift install yaml, where the ClusterRole has the additional snippet given above, or an update to the openshift instructions to advise

[2019-08-21 12:44] mnuttall commented on #54
https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/GettingStarted.md doesn't include the 'worked example' I first asked for, but it will do for now.

[2019-08-21 12:44] #54 closed

[2019-08-21 14:47] akihikokuroda commented on #188
I added a limitation in the DEVELOPMENT.md https://github.com/tektoncd/experimental/pull/206

[2019-08-21 14:57] akihikokuroda commented on #188
I added a limitation in the DEVELOPMENT.md https://github.com/tektoncd/experimental/pull/207

[2019-08-23 10:59] a-roberts commented on #204
FYI I've just manually added this file into our release https://github.com/tektoncd/dashboard/releases/download/v0.1.1/openshift-webhooks-extension.yaml as another team has been seeing this problem, whoever works on this needs to update the release process to include this file when we do release again

[2019-08-23 11:06] mnuttall opened #208 "Improved release automation with sha256 generation"
Further to https://github.com/tektoncd/dashboard/issues/446, update the /tekton code for webhooks-extension to automatically substitute sha256 image tags for :latest images in the source yaml.
- Update /tekton/README.md accordingly

[2019-08-23 13:17] akihikokuroda commented on #188
@dacleyra I'm trying to put the limitation statement in the DEVELOPMEMT.md.  Would you take a look at RP #207 if it makes sense?

[2019-08-28 11:53] castlemilk commented on #177
the resolution for this is to create both the alpha and beta CRDS in your cluster. I got this working by applying both of the following:

https://github.com/knative/serving/releases/download/v0.8.1/serving-alpha-crds.yaml
https://github.com/knative/serving/releases/download/v0.8.1/serving-beta-crds.yaml

then restart the `github-controller-manager-0` `Pod`

[2019-08-28 13:15] akihikokuroda opened #209 "Rebase webhook sink on trigger"
# Expected Behavior

Webhook sink (receiving the webhook event and executing the pipeline) should be implemented based on the tekton/trigger

# Actual Behavior

The webhook in tekton / experimental has been implemented earlier than the tekton / trigger become useable.  It has its own code to define the webhook and process the webhook event.  These code should be removed and / or rebased on the tri

[2019-08-29 12:28] dibbles commented on #199
FIxed under https://github.com/tektoncd/experimental/pull/210

[2019-08-29 12:32] #123 closed

[2019-08-29 15:50] dibbles opened #211 "Delete modals inconsistent"
https://github.com/tektoncd/experimental/pull/203 changed the way the delete modal buttons look and their text ..... this now means they are inconsistent with the delete secret modal on the create webhook page.

personally, I'd prefer it as put back to green and red, centralised text, vertically aligned centrally as well, and in the smaller font...... changing the buttons was never in the scope of

[2019-08-30 12:58] carlos-logro commented on #211
Hi @dibbles, on my end the the modals look quite consistent. Also, in regards with the text in the action buttons the default carbon design has them on the left although smaller font. If we can agree where to have them & the size I don't mind doing the adjustment. @AlanGreene

<img width="795" alt="Screen Shot 2019-08-15 at 2 05 08 PM" src="https://user-images.githubusercontent.com/49996607/640223

[2019-08-30 12:59] carlos-logro commented on #198
/close

[2019-08-30 12:59] #198 closed

[2019-08-30 12:59] carlos-logro commented on #134
/close

[2019-08-30 12:59] #134 closed

[2019-08-30 13:05] carlos-logro commented on #211
Oh I read wrong, I thought you meant the delete modal in the secret page. That being said the delete secret modal in the webhook create page should be updated to be consistent with the other modals.

[2019-09-02 13:55] a-roberts commented on #204
@dibbles is adding this file as part of his work involving readme changes (mentioning installing on openshift, which has highlighted the lack of a release yaml in source control - so it'll be added with the above configuration set)

[2019-09-02 14:08] a-roberts commented on #202
@dibbles is doing a big readme change atm, once that's in we can add the namespace property in all of our release objects so far, and in the ones checked in to this repo

Duane's instructions involve a sed on the namespace itself which requires the namespace to be present in all of our files. I'll pick this up

[2019-09-03 09:26] a-roberts commented on #202
PR at https://github.com/tektoncd/experimental/pull/212

[2019-09-03 09:52] a-roberts opened #213 "Flaky test: WebhookCreate.test.js"
# Expected Behavior

Should reliably pass

# Actual Behavior

Seen

[code]

In https://tekton-releases.appspot.com/build/tekton-prow/pr-logs/pull/tektoncd_experimental/212/pull-tekton-experimental-unit-tests/1168817356407836672/

# Steps to Reproduce the Problem

1. Run our unit tests (I noticed this on Prow, hasn't investigated with a local reproduce)

[2019-09-03 14:32] a-roberts commented on #202
Merged so closing

[2019-09-03 14:32] #202 closed

[2019-09-03 16:22] #199 closed

[2019-09-03 16:25] dibbles commented on #204
fixed in https://github.com/tektoncd/experimental/pull/210 - new openshift yaml file added for installing "nightly" builds

[2019-09-03 16:25] #204 closed

[2019-09-03 16:30] dibbles commented on #163
I think I fixed all this as part of https://github.com/tektoncd/experimental/pull/210 - I changed the sink to use GenerateName: in what looks like all places - assigning and closing

[2019-09-03 16:30] #163 closed

[2019-09-04 08:47] a-roberts commented on #147
Namespace field is present in all yaml now, closing

[2019-09-04 08:47] #147 closed

[2019-09-04 10:05] dibbles opened #216 "cannot unmarshal object into Go value of type []endpoints.webhook after upgrading from 0.1.1 release"
# Expected Behavior

Upgraded to newer version of webhooks-extension, the webhooks-extension should still work

# Actual Behavior

After upgrading now seeing
![image(1)](https://user-images.githubusercontent.com/22838162/64245939-c8aad080-cf03-11e9-827f-6cc655ddd7a6.png)

# Steps to Reproduce the Problem

1. Create some webhooks using the 0.1.1 release of webhooks-extension
2. Upgrade to nightly b

[2019-09-04 10:43] a-roberts commented on #201
Picked this up, got two Git repos with webhooks triggering the same pipeline (using the 0.1.1 release) on OpenShift 3.11.

Clicked to delete both webhooks, confirmed I see the error being reported and yet all is well

[code]

No errors in the backend, when I implemented this I added a bunch of delete promises with a 500ms timeout (potentially for *everything* to be done and not just for each promi

[2019-09-04 11:26] dibbles commented on #216
This is caused due to a breaking change being introduced which changed the data structure in the githubwebhook configmap.  As the technology is currently alpha, the breaking change was permitted.

If you find yourself in this situation, there are a number of options available:

Option1: Delete the webhooks and recreate using kubectl - assuming you never created any githubsources by hand you could

[2019-09-04 11:26] #216 closed

[2019-09-04 13:07] a-roberts commented on #136
Discussed with @dibbles and @mnuttall (sorry for taking so long to get to this!) - we think this is an excellent idea and would vastly improve our demo story too (e.g. for labs where people are just wanting to use github.com). It's obviously a very common use case...

We'd like to implement this in conjunction with our move to use triggers, which is how we plan to move the webhooks-extension out o

[2019-09-05 09:44] a-roberts commented on #201
PR https://github.com/tektoncd/experimental/pull/218

[2019-09-05 10:25] dibbles opened #219 "Additional install script option to install nightly/release builds"
New Feature:

The install script in the test directory could be modified to allow specifying whether to install an official release version, the nightly builds or the development source code.

The quick install for users would then be to just run the script with the relevant settings should they not want to go through the individual steps.

[2019-09-05 10:35] dibbles opened #220 "Use "Unknown" rather than "??????" for pipelinerun status on pull request"
# Expected Behavior

When the monitor task adds the status table to a pull request, "Unknown" should be reported for those pipelineruns which have not yet completed.

A user can currently set the success comment and failure comment when creating the webhook.  They should also therefore be able to set this "timeout" status message.

Docs also need updating as they explicitly mention the "??????" st

[2019-09-05 11:05] dibbles opened #221 "Comments deleted on pull request by monitor task"
# Expected Behavior

Once the pull request has been put into pending status, I should still be able to add comments to the pull request, and have those comments persist after the status is subsequently updated again by the monitor task.

# Actual Behavior

The monitor task uses a pipelineresource of type pullrequest to update the pull request with the result of the pipelineruns.  It pulls down the

[2019-09-05 12:55] dibbles opened #222 "Monitor task uses git api to move pull request to pending"
The monitor-result-task has been coded to use the git api endpoint directly to move the pull request into pending state at the start of pipelineruns.

The current implementation of the monitor task only uses the "pullrequest" pipelineresource to update the pull request at the end of the task ..... it doesn't appear to be able to upload the pull request updates at multiple points in time.

Investig

[2019-09-05 12:59] dibbles opened #223 "The webhooks sink appears to be very light on testing"
There are few if any actual tests of any kind on the webhooks extension sink code.  Write some tests.

[2019-09-05 13:06] a-roberts commented on #223
👍

I think the following would be useful to get started:
- Can we trigger a PipelineRun for a given set of Pipelines based on a push event
- Can we trigger a PipelineRun for a given set of Pipelines based on pull request events
^^ includes checking we generate a PipelineResource of type git and image pointing to the correct repository and image location
- Get dashboard URL doesn't have a test (to

[2019-09-05 13:13] a-roberts commented on #201
Merged so closing

[2019-09-05 13:13] #201 closed

[2019-09-06 08:19] dibbles commented on #36
Believe this to be completed enough under https://github.com/tektoncd/experimental/pull/210 to close this epic.

- Status set via task monitor
- Table of results added as comment via task monitor
- Currently all pipelineruns must succeed for positive status

[2019-09-06 08:19] #36 closed

[2019-09-06 12:32] dibbles opened #224 "Garbage collection of monitor taskruns required"
# Expected Behavior

The pull request monitor taskruns created to report on the status of pipelineruns should be garbage collected (also the pull request pipelineresources .... probably by adding owner references such that deleting the taskrun deletes the pipelineresource)

# Actual Behavior

taskruns and pipelineresources associated with the monitoring remain indefinitely

# Steps to Reproduce th

[2019-09-06 13:40] dibbles opened #225 "Pipelines dropdown sometimes isn't populated"
# Expected Behavior

After selecting a target namespace on webhook creation, the pipelines dropdown should populate with available choices.

# Actual Behavior

Not sure if anyone else is seeing this but, on my openshift (possibly network related), when creating a second webhook, the dropdown for pipelines doesn't always seem to populate....
need to see if anyone can reproduce and look into this...

[2019-09-06 19:12] chhsia0 commented on #40
I was wondering that, maybe we could consider [Argo events](https://github.com/argoproj/argo-events) as a light-weight alternative to knative eventing? This would also help with GitLab support.

[2019-09-07 16:54] kimholmes commented on #38
User Experience flow is as follows:
For access tokens, when the user creates a Secret, they have a choice between two types of Secrets, one with Username/Password or one with Access Token.

**Username/Password:**
![accessTokens1](https://user-images.githubusercontent.com/21316329/64477871-76211c80-d16e-11e9-9a73-7ab60b387ea8.png)

**Access Token:**
![accessTokens2](https://user-images.githubuserco

[2019-09-09 19:31] vtereso commented on #185
[code]
This and the other examples seems very reminiscent of the [test builders](https://github.com/tektoncd/pipeline/tree/master/test/builder). I think your proposal point:

is very interesting. Should _some_ tool be introduced to make working with Tekton easier, what does that mean for the state of the catalog? Would the catalog support both? Only one? And what is the vision for the catalog? Is

[2019-09-09 19:38] vtereso commented on #185
Using a tool like this where interpolation would not be necessary also seems to imply that [the catalog](https://github.com/tektoncd/catalog) would likely be a `Task` only repo?

[2019-09-09 19:40] ImJasonH commented on #185
If we supported this DSL as a first-class feature of Tekton, resources in the catalog could be defined as YAML and installed using `kubectl apply`, or defined in the DSL and installed using `tkn task create -f whatever.dsl` (which would interpret the DSL into a K8s API request, and apply it)

Ultimately the DSL should just be another way to express the same underlying resources and send them to th

[2019-09-09 20:19] carlos-logro commented on #48
/assign

[2019-09-09 21:22] vtereso commented on #185
I was trying to envision what you meant by "elides the need for variable interpolation in Tekton resource strings" and incorrectly thought that Tasks were the only resource that could omit interpolation, but they also use it as current. Can you describe this point more?

[2019-09-10 09:11] dibbles opened #226 "Task monitor fails to update the pull request"
# Expected Behavior

Using github.com, the pull request is supposed to be updated by the task monitor.

# Actual Behavior

The tekton code fails to parse the provided URL and pull out the pull request number.  Additionally, from looking at the sink log.

# Steps to Reproduce the Problem

1. Webhook in github
2. Create pull request
3.

# Additional Info

[2019-09-10 09:14] dibbles opened #227 "Error in sink log obtaining branch name"
# Expected Behavior

No error in the webhooks sink when obtaining the branch name to add as a label on the pipelinerun.

# Actual Behavior

webhooks-extension-sink-xqh7p-deployment-cdc697449-9kw9n user-container {"level":"warn","msg":"Couldn't determine the branch fr om ref field: test_aaa"}

This error is produced as the payload for a push event and for a pull_request differ - yet the processing

[2019-09-10 13:11] dibbles opened #229 "Monitoring task does not work as of tekton v0.6.0 due to pullrequest pipelineresource changes."
After creating a pull request, the monitor starts, monitors the pipelineruns but then fails with:

[code]

The task montior does not appear to be 100% accurate with regards the pullrequest pipelineresource - it appears that the file `/workspace/pull-request/pr.json` no longer created, with files created under `/workspace/pull-request/github` instead.

Investigations are need on the correct way to

[2019-09-10 13:14] dibbles commented on #227
https://github.com/tektoncd/experimental/pull/228

[2019-09-10 13:14] #227 closed

[2019-09-10 13:14] dibbles commented on #226
https://github.com/tektoncd/experimental/pull/228

[2019-09-10 13:14] #226 closed

[2019-09-10 13:15] dibbles commented on #229
Might also be worth looking into https://github.com/tektoncd/experimental/issues/221 as well??

[2019-09-10 15:28] ImJasonH commented on #185
I haven't thought it all the way through yet, but I was imagining you could do something along the lines of:

[code]

This would validate that the `t1`'s output resource is of the same type as `t2`'s input resource, then generate YAML that wires them up together like you'd expect, including inserting the `$(placeholder)` string in `t2`'s configuration.

If you only ever dealt with the DSL configur

[2019-09-10 21:40] ncskier commented on #38
It seems like there are a number of secrets & options that we can configure in the Dashboard, but at the moment we would like to keep things as minimal as possible. So, I did some research to try and clarify what we want to show in the Secrets view:

Tekton supported Secret types are:
- `kubernetes.io/basic-auth`
- `kubernetes.io/ssh-auth`
- Access Tokens (`Opaque`) (https://github.com/tektoncd/pi

[2019-09-11 09:53] TatchNicolas opened #231 "Deployment and Service are missing `namespace: tekton-pipelines`"
# Expected Behavior

I run into the problem when trying Webhook extention.

Following [the doc](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/InstallReleaseBuild.md), `Webhook` should be in the side bar.

# Actual Behavior

After restarting the dashboard pod, `Webhook` does not showing up becuase `webhook-extention` is not in `tekton-pipelines` namespace

[code]

# S

[2019-09-11 13:02] a-roberts commented on #231
Hey @TatchNicolas, cheers for reporting this!

https://github.com/tektoncd/experimental/blob/master/webhooks-extension/config/extension-deployment.yaml I fixed this on master as part of https://github.com/tektoncd/experimental/issues/202, could you please apply the latest yaml from master instead?

`kubectl apply -f https://github.com/tektoncd/experimental/blob/master/webhooks-extension/config/rel

[2019-09-11 14:33] akihikokuroda commented on #229
/assign

[2019-09-11 15:02] dibbles commented on #209
So after educating myself and drawing some pictures... it is basically what Aki said, although I have tried to pull together issue numbers where required trigger code does not exist yet - and am working with @ncskier on ideas around missing function for reporting status via monitor task.

[triggers.pdf](https://github.com/tektoncd/experimental/files/3601433/triggers.pdf)

[2019-09-11 15:03] dibbles commented on #209
I'm going to start trying to switch over to triggers

[2019-09-11 20:41] bparees commented on #185
As you note, this is a problem shared by k8s.  K8s has never addressed it by introducing a first-class DSL or tooling, it has allowed an ecosystem of tools to evolve, as well as people using generic templating tools to generate json/yaml.  (Keeping said tools up to date w/ evolving apis is of course a challenge, depending how much logic they include).

Is there a reason a similar solution isn't ap

[2019-09-12 02:31] TatchNicolas commented on #231
Thank you @a-roberts, it worked with the lastest manifest!
Sorry I missed the issue and did not know it was already fixed...

To be precise with the following command(just for those who might see this issue)

`kubectl apply -f https://raw.githubusercontent.com/tektoncd/experimental/master/webhooks-extension/config/release/gcr-tekton-webhooks-extension.yaml`

And thanks again for your fix!

[2019-09-12 02:32] #231 closed

[2019-09-13 10:09] dibbles opened #233 "Monitoring task fails with type mismatch"
# Expected Behavior

Task monitor does not fail

# Actual Behavior

Task monitor fails with:

invalid input params: param types don't match the user-specified type: [commentsuccess commentfailure pipelineruns dashboard-url secret]

# Steps to Reproduce the Problem

1. Create webhook
2. Create pull request
3.

# Additional Info

[2019-09-13 10:28] dibbles commented on #233
https://github.com/tektoncd/experimental/pull/234

[2019-09-13 10:32] #233 closed

[2019-09-13 11:59] akihikokuroda commented on #229
/close

[2019-09-13 11:59] #229 closed

[2019-09-13 13:33] a-roberts opened #235 "No such host error when receiving webhook event on Docker Desktop (latest code)"
# Expected Behavior
With the latest versions of Tekton Pipelines, the Tekton Dashboard and this Tekton Webhooks Extension code, I should be able to create PipelineRuns based on push events to a repository.

# Actual Behavior
I see a `tekton-bg4n7-z974m-jkclq-deployment-79cf87d44-v6vwh   1/2       Terminating   0          2m52s` pod pop up that errors with the following:

[code]

If I switch to usi

[2019-09-13 14:06] mnuttall opened #236 "Prevent deployment from occurring during Pull Request builds"
Builds driven by Pull Requests should not result in a new deployment. We need to pass the fact that a PipelineRun was triggered by a PullRequest into the PipelineRun, and then use that to gate deployment. This could be done via an environment variable, and the conditional syntax introduced in Tekton 0.6.

We need to be able to act on two variables so as to construct guards of the form,
[code]

[2019-09-13 14:53] a-roberts commented on #235
Note that I never do get a service named webhooks-extension-sink in tekton-pipelines to satisfy the error case, with the latest code.

[code]
[code]

[code]

When I go back to applying the old webhooks extension code:
[code]

[code]
here it is...

[2019-09-16 09:27] a-roberts opened #238 "Test and recommend newer Istio version (1.1.14)"
Have a look at https://istio.io/about/notes/1.1.14/, which mentions an important security fix (so does 1.1.13), we currently suggest using Istio 1.1.7.

Noticed by accident when looking into https://github.com/tektoncd/experimental/issues/235.

Testing would include with knative 0.6.0, Tekton Pipelines master (soon to be 0.7.0) and the latest Tekton Dashboard.

Yes, we do eventually want to remove

[2019-09-16 09:53] a-roberts commented on #235
I installed Istio 1.1.7 again, used the latest code, created my webhook again and now my lifecycle is as follows

[code]
@dibbles couldn't recreate either, i'm gonna close this, phew 😅

[2019-09-16 09:53] #235 closed

[2019-09-16 10:41] a-roberts commented on #63
@carlos-logro @AlanGreene are we good to close this now as it was specific to issues found at the time?

I'm inclined to add something to our DEVELOPMENT.md along the lines of running the IBM DAP tool now (at https://aat.w3ibm.mybluemix.net/tools/auth/tools/dap.html) which anyone can use, and advocating for its usage as part of our publishing process, and then for any new issues we find, we'll be

[2019-09-16 13:19] AlanGreene commented on #63
👍 fine with closing it, any other problems found can be handled through new issues.
The DAP link you gave above is internal, so wouldn't be available to anyone outside IBM.

[2019-09-16 13:24] a-roberts commented on #63
Yeah, on the hunt for a freely available one atm, just the one problem so far reported above so I'm gonna close this one, cheers 😄

[2019-09-16 13:24] #63 closed

[2019-09-17 14:56] ncskier commented on #38
I clarified with Mark, that we are not concerned with `kubernetes.io/ssh-auth` secrets for Access Token Management.

[2019-09-18 11:45] mnuttall commented on #40
See also https://github.com/tektoncd/experimental/issues/209

[2019-09-18 13:01] a-roberts opened #239 "Webhooks extension doesn't load in Safari on OpenShift, does in Chrome/Firefox"
# Expected Behavior

Should load without error on OpenShift

# Actual Behavior
![image](https://user-images.githubusercontent.com/12814972/65150661-81046880-da1c-11e9-8968-b4a8b0e10fc8.png)

I see this consistently, as does @dibbles - I'm using OpenShift, I do not see this problem with Docker Desktop on my Mac. Enabled developer window (Safari -> Preferences -> Advanced), I see
[code]

# Steps to

[2019-09-18 13:17] a-roberts opened #240 "Webhooks extension PipelineRun sometimes doesn't have PipelineResources ready in time"
# Expected Behavior

PipelineRuns should be reliably constructed and kicked off

# Actual Behavior
Suffers from https://github.com/tektoncd/dashboard/issues/469 also, it's not 100% of the time though (committed again and I didn't see the issue)

# Steps to Reproduce the Problem

1. Create a webhook
2. Push code to that repository
3. Observe that on occasion (first time for me the problem observed,

[2019-09-18 13:46] a-roberts commented on #239
I pinged @AlanGreene on Slack about this today and, AIAU, he's noticed no cookies are present on the request and this is leading to our 403, I'm going to make this a backlogged bug and see if it's a regression...

[2019-09-18 14:55] a-roberts commented on #239
@AlanGreene found and suggested a `--skip-auth-regex` option for our oauth-proxy container, I edited our Tekton Dashboard deployment to include it:
[code]

and it now loads great in Safari 😄 now to figure out the implications...

[2019-09-18 15:55] a-roberts commented on #239
PR here https://github.com/tektoncd/dashboard/pull/533

[2019-09-18 15:58] a-roberts commented on #240
Can't reproduce this in 30 webhook push events 🤔 suggesting this not hold up our upcoming release but something we should certainly look into (I'm using a particularly slow OpenShift cluster as I believe @dibbles was when importing resources and noticed this problem)

[2019-09-19 10:35] dibbles opened #241 "Triggers: Write Task with options to create/delete github repo webhook"
Write a task in yaml that allows creation or deletion of a github repository webhook - code can predominantly be taken from https://github.com/tektoncd/triggers/blob/master/docs/create-webhook.yaml and then extended.

The yaml can be stored under a config/triggers_prototype folder.

[2019-09-19 10:37] dibbles opened #242 "Triggers: Write Task with options to create/delete Ingress"
Write a task in yaml that allows creation or deletion of an Ingress endpoint for an event listener take code from https://github.com/tektoncd/triggers/blob/master/docs/create-webhook.yaml and then extended to allow for deletion.

The yaml can be stored under a config/triggers_prototype folder.

[2019-09-19 10:44] dibbles opened #243 "Triggers: Replace sink with eventlistener (triggers)"
Replace webhooks sink with triggers impl (create/update/delete event listener)

NOTE: This will be a breaking change as triggertemplate and triggerbinding will need to be provided upfront.

[2019-09-19 10:45] dibbles commented on #243
depends on triggers issues 8 and 124

[2019-09-19 10:51] dibbles opened #244 "Triggers: Create monitor task trigger template and trigger binding"
We need the monitor task to have a triggertemplate yaml file and a triggerbinding yaml file created.

The yaml can be stored under a config/triggers_prototype folder.

[2019-09-19 10:58] dibbles opened #245 "Triggers: Create validate service and image"
With each trigger in the eventlistener we will specify the validation task that needs running to check whether or not the trigger should fire/create pipelineruns etc...

The validation task will need to validate the webhook is "authentic" (should be able to reuse the current triggers validation task example) and then validate a set of circumstances.

Current validation would need to be:

event rep

[2019-09-19 12:20] dibbles opened #246 "Triggers: Create trigger template and trigger bindings files for test pipelines"
We need to have triggertemplates and trigger bindings for pipelines we use for testing ... thus I would suggest:

simple-pipeline (from https://github.com/pipeline-hotel/example-pipelines/tree/master/config/pipeline.yaml)
buildah (from https://github.com/tektoncd/catalog/tree/master/buildah)

could possibly store under config/triggers_prototype/pipelines for the time being?  Change to sample later

[2019-09-19 12:24] dibbles opened #247 "Triggers: Remove knative"
Complete the move to triggers by removing knative and switch to using the tasks for creating and deleting webhooks and ingress.

Requires: issues
- [x] #241
- [x] #242
- [x] #243
- [x] #244
- [x] #245

to be completed first.

[2019-09-20 10:47] a-roberts commented on #241
PR https://github.com/tektoncd/experimental/pull/248

[2019-09-20 13:16] a-roberts commented on #242
PR https://github.com/tektoncd/experimental/pull/249

[2019-09-20 13:21] a-roberts commented on #239
Merged so closing

[2019-09-20 13:21] #239 closed

[2019-09-20 13:26] dibbles opened #250 "Pull Request webhook should only fire on creation(?)"
# Expected Behavior

Pipelines should not be fired when pull request closed, labelled, assigned etc... Only on creation or underlying code updated

# Actual Behavior

Pipelines triggered on any pull request action

# Steps to Reproduce the Problem

1. configure webhook
2. create pull request (pipelines triggered)
3. perform some actions on pull request eg. close (pipelines triggered)

# Additional

[2019-09-20 14:33] a-roberts commented on #245
I'll work on this, have PRs open for Ingress and Webhooks atm but don't see any trouble happening over there. Shouldn't be much code 🤞 and I spoke with @vtereso about this initially when figuring out if we needed anything to be changed in Triggers - he's suggested the validate task is the way to go, so we have ample options to get feedback too

[2019-09-20 15:34] mii-w commented on #48
First take from referencing Alan's and Duane's screens
<img width="615" alt="Screen Shot 2019-09-20 at 11 33 04 AM" src="https://user-images.githubusercontent.com/51759906/65339656-8c7d9e00-db9a-11e9-9b75-e4b553d9b702.png">

[2019-09-20 15:36] mii-w commented on #50
<img width="615" alt="Screen Shot 2019-09-20 at 11 33 04 AM" src="https://user-images.githubusercontent.com/51759906/65339797-d1093980-db9a-11e9-8227-67aff4622271.png">

[2019-09-20 15:36] mii-w commented on #51
First take
<img width="617" alt="Screen Shot 2019-09-20 at 11 32 56 AM" src="https://user-images.githubusercontent.com/51759906/65339819-d9fa0b00-db9a-11e9-8526-801eb7f3942e.png">

[2019-09-20 15:47] mtamboli opened #251 "Better description for the webhook fields - some are inaccurate"
# Expected Behavior

This problem is for creating webhook using Tekton Dashboard. It would help to have more helpful description for the fields.  Also, some of the description are incorrect/out of order. Screenshot pasted below.

# Steps to Reproduce the Problem
![image](https://user-images.githubusercontent.com/29490950/65340349-03fffd00-db9c-11e9-8aea-268e1ee69161.png)

1. Hover over all the fie

[2019-09-20 15:48] mii-w commented on #38
<img width="1055" alt="Screen Shot 2019-09-20 at 11 47 52 AM" src="https://user-images.githubusercontent.com/51759906/65340555-7f61ae80-db9c-11e9-877b-9bbf9aaf72c2.png">

[2019-09-20 15:50] mii-w commented on #55
wireframes for discussion:
<img width="828" alt="Screen Shot 2019-09-20 at 11 42 08 AM" src="https://user-images.githubusercontent.com/51759906/65340638-ab7d2f80-db9c-11e9-9671-c6f8ea2f8eaa.png">
<img width="829" alt="Screen Shot 2019-09-20 at 11 42 33 AM" src="https://user-images.githubusercontent.com/51759906/65340644-addf8980-db9c-11e9-9805-b9b04c7bb594.png">
<img width="827" alt="Screen Shot 2

[2019-09-20 16:07] mtamboli opened #252 "Validation for Webhook if it got created in GitHub"
# Expected Behavior

Webhooks which are created in the Tekton Dashboard, there is no validation if the webhook is actually created in GitHub or not.You may give the incorrect access token and webhook is created but it does not end up in GitHub. It would be nice to have a validation that the webhook  was successfully created in GitHub or not when you click on create. It could still create the webho

[2019-09-20 17:20] mtamboli opened #253 "Option of initiating webhook in Tekton Dashboard manually without any code change GitHub event"
# Expected Behavior

It would be nice to have option of initiating a webhook run manually from the Tekton Dashboard with default master branch. Currently, you can start a Pipelinerun but it is not straight forward as you need to provide other inputs. But initiating the webhook manually may not need any extra inputs.

# Actual Behavior

# Steps to Reproduce the Problem

1.
2.
3.

# Additional Info

[2019-09-20 20:35] chunlongliang-ibm opened #254 "The secure route for webhook API is incorrectly reset to unsecure"
The route created for webhook is insecure by default (i.e., no TLS, and plain http). I edit the route to check "secure route", and TLS works (Github can post to the webhook API over TLS). However, after couple minutes, the "secure route" is unchecked, and TLS connection fails. You can check the "secure route" to get it working again, but the box will be automatically unchecked again.
How do I can

[2019-09-20 20:43] chunlongliang-ibm commented on #254
should we enable "secure route" by default?

[2019-09-23 09:55] a-roberts commented on #242
Note that to get this working on Docker Desktop OK, I needed to install nginx as the Ingress controller:

[code]
 Then curling the Ingress routes to my backend listener svc correctly.

[2019-09-23 12:27] mnuttall commented on #44
Completed.

[2019-09-23 12:27] #44 closed

[2019-09-23 13:41] mnuttall commented on #236
Moving this over to @vtereso - thank you Vincent

[2019-09-23 14:30] csskinner25 opened #255 "Webhook not deleted in Github when deleted in Tekton"
# Expected Behavior

The webhook should be deleted in Github when it is deleted in Tekton.

This is the tekton version in the ICPA release.

# Actual Behavior
Webhook is setup between tekton and github. The webhook is then deleted using the tekton dashboard. The webhook is not cleaned up in github. You have to manually delete the webhook in github.
# Steps to Reproduce the Problem

1.
2.
3.

# Add

[2019-09-23 16:13] mnuttall commented on #250
The GitHub 'Pull Request' category includes,

We only want a PipelineRun on a few of these events. New PipelineRuns are required when a PR is opened, or new code is pushed to its associated branch, or a closed PR is reopened. We don't want to address this issue until https://github.com/tektoncd/experimental/issues/247 is delivered and we're using Triggers to initiate webhook'd pipelines. At that p

[2019-09-23 16:58] tam512 opened #256 "Add ability to take default values when creating secret in tekton dashboard"
# Expected Behavior
when create a new secret in the tekton dashboard, the `Server URL` text box shows greyed out url https://github.com.  If I want to use the same url, I need to retype the exact same url in the text box.  Please add the capability for users to take the default url or modify the existing default url.

# Actual Behavior
Below is the current server url when creating a new secret, us

[2019-09-23 20:24] tam512 opened #257 "specify docker registry format when creating a webhook in tekton console"
# Expected Behavior
- When creating a new webhook in tekton console, the `Docker Registry` for `Target Pipeline Settings` should be able to accept both formats of `https://` or `without https`.  Right now it only works when entering the registry without  the `https://` such as `index.docker.io/<docker hub id>`
- If entering docker registry as `https://index.docker.io/<docker hub id>` the tekton pi

[2019-09-23 23:56] ahpook commented on #185
Just wanted to chime in with support for higher order DSL. I think it's best to get the variable interpolation out of the data format and into an appropriately sophisticated language, because it is a very slippery slope - as in the discussion at @tekton/pipelines#850, once there's interpolation people start to need concatenation, regex, etc.

By way of example, Spinnaker have gone all the way down

[2019-09-24 08:55] a-roberts commented on #236
@vtereso I spoke with @mnuttall about this, so to summarise what we'd like to do as a "first pass" is as follows.

**Gating deploys for "simple pipeline" is the first thing to experiment with.**

1) Determine if it's a pull request (if so, don't deploy, just build and run any tests)
2) Determine what branch we are on (are we on master? Great, something's likely been merged in from, say, a test/dev

[2019-09-24 13:39] ImJasonH commented on #185
Re: concatenation, regex; I completely agree. Params today are not powerful enough, and making them more powerful invites the need for a "real programming language", and YAML doesn't cut it.

I wonder whether https://github.com/tektoncd/pipeline/pull/1344 (https://github.com/tektoncd/pipeline/issues/781) allays this concern, since it enables steps to invoke simple scripts in some "real programming

[2019-09-24 18:11] carlos-logro commented on #236
/assign @carlos-logro

[2019-09-25 08:41] #256 closed

[2019-09-25 08:41] dibbles commented on #256
Issue moved to [tektoncd/dashboard #543](https://github.com/tektoncd/dashboard/issues/543) via [**ZenHub**](https://www.zenhub.com/)

[2019-09-25 09:01] dibbles commented on #255
This is a problem that stems from knative - someone closed the issue I opened and never provided details about why/how they addressed the issue see (https://github.com/knative/eventing-contrib/issues/216#issuecomment-523473197)

I'm going to close this issue for now as it is being addressed by the move to an underlying triggers implementation and should no longer occur once issue 247 (https://gith

[2019-09-25 09:01] #255 closed

[2019-09-25 09:25] dibbles commented on #251
https://github.com/tektoncd/experimental/pull/260

[2019-09-25 13:57] mii-w commented on #55
updated from last feedback session:
![Screen Shot 2019-09-25 at 9 55 28 AM](https://user-images.githubusercontent.com/51759906/65607619-d7245f00-df7a-11e9-8759-ab3ee624a767.png)
![Screen Shot 2019-09-25 at 9 55 39 AM](https://user-images.githubusercontent.com/51759906/65607628-db507c80-df7a-11e9-88a2-5bdc8fd543bc.png)
![Screen Shot 2019-09-25 at 9 55 48 AM](https://user-images.githubusercontent.co

[2019-09-25 14:44] a-roberts opened #262 "Update tekton/ resources for building/publishing to work with Tekton 0.7"
Noticed a few problems trying to use tkn 0.3.1 with Tekton 0.7 trying to publish 0.2.0 of the Tekton Webhooks Extension

Just like with https://github.com/tektoncd/dashboard/issues/550

- ( instead of { should be used in all of our Tekton resources
- Fix up the docs (grammatical errors/typos, not clear you must keep the service account key somewhere safe, not just in an easily thrown away release.

[2019-09-25 23:52] ahpook commented on #185
Proving that there are no new problems in computer science, I came across this bit in the [Borg, Omega, and Kubernetes](https://storage.googleapis.com/pub-tools-public-publication-data/pdf/44843.pdf) paper from a few years ago...

¯\_(ツ)_/¯

[2019-09-26 05:10] ImJasonH commented on #185
Thanks I hadn't seen that before, it's definitely relevant! 🤣

At the risk of spilling _even more ink_ over this well-inked topic, I think this can be interpreted to mean: _if_ you choose to pursue a DSL, learn from our mistakes and make sure it's a "real language" with "real development tools" (debuggers, test frameworks), and acknowledge that you'll end up with a Turing-complete language eventua

[2019-09-26 10:05] mnuttall commented on #136
Todo: look into https://github.com/fluxcd/flux re: polling

[2019-09-26 10:55] mnuttall commented on #136
Also inlets.dev and https://caddyserver.com/docs/automatic-https as a means of passing webhooks across firewall boundaries.

[2019-09-27 09:00] a-roberts opened #265 "Update monitor task to work with Tekton 0.7"
# Expected Behavior
Our monitor task should work with Tekton 0.7

# Actual Behavior
Interpolation syntax mandates () (brackets) and not braces now, so our monitor task will fail

[2019-09-27 09:36] a-roberts commented on #240
Asked about this in Slack, @dibyom mentioned https://github.com/tektoncd/pipeline/pull/1324 as a potential solution and Andrew's noticed this too for Jenkins X happening

I'm gonna reopen this

[2019-09-27 10:37] CarolynMabbott opened #266 "Webhooks extension does not show pipeline or service account when namespace on the left is different to the one selected"
When creating a webhook you cannot select a pipeline or service account if the namespace you have selected in the create webhook is different to the namespace on the left

[2019-09-27 12:45] CarolynMabbott opened #267 "Webhooks page doesnt automatically update when a webhook is created"
I created a webhook on a different dashboard tab and had my other tab open with the webhooks page
The webhooks list didnt update when i created a new webhook on the different dashboard tab

Would be good if the webhooks page updates if a new webhook is created in a different tab / window

[2019-09-27 13:17] CarolynMabbott opened #268 "Webhooks extension page doesnt update when delete fails - deleted webhooks left"
# Expected Behavior
Webhooks extension
I delete all webhooks and they all get deleted and the page updates even if one delete fails

# Actual Behavior
I tried to delete all webhooks and two failed but the rest deleted
The page didnt auto update with the deleted webhooks
The page still showed the deleted webhooks being there

# Steps to Reproduce the Problem

1. Create multiple webhooks (One of whi

[2019-09-27 13:22] CarolynMabbott opened #269 "Webhooks with a name of "." do not delete"
# Expected Behavior
Webhooks extension
Deletes a webhooks extension with the name "."

# Actual Behavior
Unable to delete a webhook with the name of "."
Get a 405 Method not allowed error

# Steps to Reproduce the Problem

1. Create a webhook called "."
2. Try deleting it

# Additional Info
![Screenshot 2019-09-27 at 14 21 47](https://user-images.githubusercontent.com/32342288/65772467-2bbe0a80-e1

[2019-09-27 17:18] kimholmes commented on #51
Notes. Please provide feedback:
![webhooksDetail_forPublic](https://user-images.githubusercontent.com/21316329/65788533-417b0200-e129-11e9-891f-831e908752a6.png)

[2019-09-28 19:04] mtamboli commented on #251
@dibbles Thanks for looking into this. There are couple of things which will help.

1. Having a link from the Webhooks page to the doc for explanation on each field.
2. It would help to know a bit explanation on `Access Token` field. We were expecting to be able to pick up secret defined in a separate tab. Good to explain that this is the token generated in the same git repository as repository UR

[2019-09-29 17:48] kimholmes commented on #55
Thank you @mii-w In this issue:
https://github.com/tektoncd/experimental/issues/38#issuecomment-533609263
@mnuttall mentions that there isn't a requirement for Edit mode on Access Tokens. Need to confirm if this is still the case.

[2019-09-30 13:45] vtereso commented on #265
/assign

[2019-09-30 14:35] a-roberts commented on #269
Hmmmmmmmmm, not really the best of webhook names so surely our regex should be checking for alphanumeric chars as well in it

[2019-10-01 10:37] a-roberts commented on #268
Have a hacky fix but it's only working in the case with one failing to delete webhook atm and not several, working on the test cases too.

[2019-10-01 12:56] Megan-Wright opened #271 "No validation for access token names when creating through the webhooks creation page"
Issue in webhooks extension

Expected Behaviour:
I should not be able to create an access token called 'Key', as it contains a capital letter, and an appropriate error message should be displayed.

Actual Behaviour
I am unable to create this access token, however there is no helpful error message and rather this is displayed:

![Screenshot 2019-10-01 at 13.51.07.png](https://images.zenhubuserconte

[2019-10-01 13:13] #265 closed

[2019-10-01 13:29] a-roberts commented on #268
Gonna have to punt on this, have a few more pressing bugs to look at, my latest finding is that, with logs in the Go code, we have:

[code]

[2019-10-01 13:49] a-roberts commented on #268
Added the milestone back on, given that I want to cut the release tomorrow we should at least document this as a limitation.

[2019-10-01 14:07] a-roberts commented on #268
Documenting for now, https://github.com/tektoncd/experimental/pull/272 @CarolynMabbott please take a look 😺

[2019-10-01 14:09] a-roberts opened #273 "Document webhooks extension delete problem"
We should document https://github.com/tektoncd/experimental/issues/268 as it's unlikely to be fixed for the upcoming release

[2019-10-01 14:09] a-roberts commented on #273
PR https://github.com/tektoncd/experimental/pull/272

[2019-10-01 14:11] mii-w commented on #51
![Screen Shot 2019-10-01 at 10 11 19 AM](https://user-images.githubusercontent.com/51759906/65970089-de90b000-e433-11e9-9942-6b3846e66146.png)
![Screen Shot 2019-10-01 at 10 11 26 AM](https://user-images.githubusercontent.com/51759906/65970092-e0f30a00-e433-11e9-8ae5-e9fbe7d3b093.png)

[2019-10-01 14:15] vtereso commented on #236
https://github.com/kabanero-io/kabanero-pipelines/pull/73
https://github.com/pipeline-hotel/example-pipelines/pull/8

[2019-10-02 08:27] #236 closed

[2019-10-02 12:19] mnuttall commented on #253
HI @mtamboli thank you for raising this idea. Webhooks can be manually triggered from within GitHub's 'settings' which you might find a convenient approach today. Manual webhook initiation would require us to drive GitHub to re-issue the webhook. This would be a nice thing to have, and we'd be delighted if someone wanted to pick this up to work on.

[2019-10-02 12:21] mnuttall commented on #254
The work we're doing under https://github.com/tektoncd/experimental/issues/40 will allow us to stop using this code path. Thank you for raising the issue, but I'm going to close it since we'd rather not invest further time in the knative-based code at this point.

[2019-10-02 12:21] #254 closed

[2019-10-02 12:28] mnuttall commented on #177
We plan to move off Knative under https://github.com/tektoncd/experimental/issues/40 rather than move up to 0.7 - even though as @castlemilk points out, it may not be a lot of work to do so.

[2019-10-02 16:40] carlos-logro commented on #271
/assign

[2019-10-02 16:52] mii-w commented on #48
![Screen Shot 2019-10-02 at 12 52 01 PM](https://user-images.githubusercontent.com/51759906/66064495-7b764a80-e513-11e9-94a3-de475f55e33f.png)
![Screen Shot 2019-10-02 at 12 52 09 PM](https://user-images.githubusercontent.com/51759906/66064502-7e713b00-e513-11e9-9ef6-d6078c62861f.png)

[2019-10-02 16:56] mii-w commented on #38
![Screen Shot 2019-10-02 at 12 52 09 PM](https://user-images.githubusercontent.com/51759906/66064726-f7709280-e513-11e9-8ee8-35ecc584e9d3.png)
![Screen Shot 2019-10-02 at 12 55 45 PM](https://user-images.githubusercontent.com/51759906/66064765-0b1bf900-e514-11e9-8145-9eef3ee350b3.png)

![Screen Shot 2019-10-02 at 12 55 28 PM](https://user-images.githubusercontent.com/51759906/66064737-fb9cb000-e51

[2019-10-02 16:57] mii-w commented on #51
/assign

[2019-10-02 16:58] mii-w commented on #51
![Screen Shot 2019-10-02 at 12 58 15 PM](https://user-images.githubusercontent.com/51759906/66064922-5e8e4700-e514-11e9-8aec-c893ebb47fed.png)
![Screen Shot 2019-10-02 at 12 58 39 PM](https://user-images.githubusercontent.com/51759906/66064924-60580a80-e514-11e9-8aa6-a6a1ad1dbd0e.png)

[2019-10-02 17:01] mii-w commented on #55
/assign

[2019-10-02 17:02] mii-w commented on #55
![Screen Shot 2019-10-02 at 12 55 28 PM](https://user-images.githubusercontent.com/51759906/66065211-e7a57e00-e514-11e9-98df-6986f8198f75.png)
![Screen Shot 2019-10-02 at 12 55 34 PM](https://user-images.githubusercontent.com/51759906/66065215-e8d6ab00-e514-11e9-99f7-1c923f9953ec.png)

[2019-10-02 18:44] carlos-logro commented on #225
Tried to reproduce the problem but could not manage to it. Tried it in Safari, Chrome & Firefox.

[2019-10-02 18:46] carlos-logro commented on #268
/assign

[2019-10-03 11:03] gireeshpunathil opened #386 "feedback request: tekton pipeline generator"
Hello team!

[Kabanero](https://kabanero.io/) is an open source project aiming to integrate foundational open source technologies for accelerating microservices development.

[Kabanero Pipelines](https://github.com/kabanero-io/kabanero-pipelines) is a sub-project that contains a collection of Tekton tasks and pipelines for the most common CI/CD work flows.

I am working on a project [plgen](https:

[2019-10-03 14:53] a-roberts commented on #273
Merged so closing

[2019-10-03 14:53] #273 closed

[2019-10-04 15:41] a-roberts commented on #242
Merged so closing

[2019-10-04 15:41] #242 closed

[2019-10-04 15:41] a-roberts commented on #245
Revisiting this to use the validation service/interceptor next to avoid PPP

[2019-10-04 15:48] a-roberts commented on #245
I'm gonna put this back on the backlog for anyone to pick up, we're looking to have example pipelines to use next for triggers (so in terms of priority, this comes after that)

[2019-10-04 16:03] a-roberts commented on #241
Merged so closing

[2019-10-04 16:03] #241 closed

[2019-10-04 19:10] akihikokuroda commented on #244
/assign

[2019-10-04 19:36] akihikokuroda commented on #244
These are the params for the current monitor task.
[code]
I assume that all of them except `pipelineruns` are provided by the params in the trigger of the eventlistener.  @dibbles @a-roberts

[2019-10-07 08:56] dibbles commented on #244
correct - I will be setting the others as params when adding triggers into the event listener.  The monitor task just needs to use the propagated event id (which I think you coded), to know what pipelineruns to be monitoring.

[2019-10-07 09:09] a-roberts opened #278 "Add Tekton Route Task for use with webhooks"
# Expected Behavior
OpenShift installs should use a Route instead of an Ingress - so while we have an Ingress task already, we should have a Route task that points to the EventListener.

Current Ingress task can be found [here](https://github.com/tektoncd/experimental/tree/master/webhooks-extension/config/triggers_prototype). I expect the same params to be used but instead of doing a kubectl creat

[2019-10-07 09:12] a-roberts opened #279 "Improve Ingress task to use CSR instead of requiring upfront cert creation"
# Expected Behavior
Instead of creating one, e.g. through the provided helper script, we could generate one and have it approved in the cluster based on info at https://kubernetes.io/docs/tasks/tls/managing-tls-in-a-cluster/#create-a-certificate-signing-request
 and https://kubernetes.io/docs/concepts/cluster-administration/certificates/, which mentions
[code]
# Actual Behavior
Users must create o

[2019-10-07 12:28] a-roberts commented on #19
Pretty sure we're good to close this now aren't we 😆?

Excellent work has been done by those above especially ^^ around Triggers (I'm doing an issue cleanup) 😄. For posterity and anyone new to this area, see https://github.com/tektoncd/triggers

[2019-10-07 12:45] a-roberts commented on #35
Pretty sure this is another good one we can close right? Triggers is progressing great ❤️

[2019-10-07 13:58] a-roberts opened #282 "Add RBAC for our move to Triggers"
# Expected Behavior

We should work with Triggers and our Webhooks Extension on a platform such as OpenShift with RBAC in place (so not just Docker Desktop)

# Actual Behavior
We can't atm - errors creating EventListener for example

So far:
[code]

Getting
[code]

from the Ingress task atm on OpenShift so definitely gotta use a route (unless you use cluster-admin as the role, which I'd rather not

[2019-10-07 14:22] mnuttall commented on #257
docker registry entries could in theory be in at least seven formats:
- http://index.docker.io/foo
- index.docker.io/foo
- foo
- https://index.docker.io/foo
- http://my.repo/foo
- https://my.repo/foo
- my.repo/foo

We need to understand which we can accept, check they work, and reject the rest.

[2019-10-07 14:26] carlos-logro commented on #257
/assign

[2019-10-07 14:27] carlos-logro commented on #251
/assign

[2019-10-08 12:22] a-roberts opened #283 "Webhook Task doesn't error when webhook can't be created"
# Expected Behavior

Our Tekton Webhook task should error when a webhook can't be created

# Actual Behavior

It does not. We have -e in the Tekton Task but our guess is the exit code of curl is still 0 and so we should check the response of it.

[2019-10-08 12:22] a-roberts commented on #283
I'll work on this as well as changing some variable names to match the implementation @dibbles is working on

[2019-10-08 16:21] a-roberts commented on #245
For anyone picking this up, see

https://github.com/tektoncd/triggers/pull/144  and https://github.com/tektoncd/triggers/pull/140

[2019-10-09 08:57] a-roberts commented on #245
I'm going to pick this up, my other PRs/issues are on hold (working with @dibbles so they may need some tidying up/addressing based on findings)

Dibyo's PR is merged and I have an example to be following

[2019-10-09 10:29] a-roberts commented on #245
Note the new design involves a service that references an image we're going to have to build and maintain

[2019-10-09 11:01] mnuttall opened #284 "Test and document webhooks usage with OpenShift internal registry"
Most of our testing has used Dockerhub as the target docker registry. Use this item to understand and document what's required to publish images to, and deploy them from, the RedHat OCP 3.11 or 4.2 internal docker registry.

See https://blog.openshift.com/remotely-push-pull-container-images-openshift/ for additional information.

In an internal Slack conversation, a colleague wrote,

Is this a rea

[2019-10-10 10:28] a-roberts commented on #282
Above RBAC's ready and works so waiting for @dibbles to be done before creating the PR on top of his work (incase there are any more verbs/resources we want)

[2019-10-10 14:43] Megan-Wright commented on #177
/assign

[2019-10-10 15:13] carlos-logro commented on #257
/close

[2019-10-10 15:13] #257 closed

[2019-10-10 15:24] a-roberts commented on #177
@Megan-Wright see https://github.com/tektoncd/experimental/blob/master/webhooks-extension/pkg/endpoints/webhook.go#L29 for our usage of `alpha`, I spoke with @vdemeester about versions and it looks like 0.7.1 is the current knative version used in the openshift operator atm

[2019-10-10 18:04] mii-w commented on #51
Latest Clickable prototype!
https://ibm.invisionapp.com/share/PCNZBZYNKQF

Feedback Appreciated!

[2019-10-11 17:33] mii-w commented on #55
Clickable Prototype:
https://ibm.invisionapp.com/share/ESNZC02XP87

[2019-10-11 17:34] mii-w commented on #48
Clickable wireframe Prototype:
https://ibm.invisionapp.com/share/PCNZBZYNKQF

[2019-10-13 02:23] mtamboli commented on #251
@a-roberts I use tekton dashboard which is installed as part of Kabanero. I will need to get access to updated version  of dashboard to verify it. If I am not able to verify, I will close it and reopen later if there are any new issues.

[2019-10-13 15:25] akihikokuroda commented on #244
Prototype code drop.
PR: https://github.com/tektoncd/experimental/pull/289

[2019-10-14 13:04] a-roberts commented on #246
Committed simple pipeline into the hotel, buildah todo

[2019-10-14 13:04] a-roberts commented on #245
PR https://github.com/tektoncd/experimental/pull/290

[2019-10-14 14:36] akihikokuroda commented on #279
Yes, this is similar to what we did for the other project.

[2019-10-14 14:48] akihikokuroda commented on #279
This one is using the certmanager.  The api might be changed but it should be similar.
[code]

[2019-10-14 15:26] akihikokuroda commented on #279
@a-roberts Is this like what you are suggesting?

[2019-10-14 15:44] a-roberts commented on #279
@akihikokuroda yep, exactly 👍

[2019-10-15 14:15] akihikokuroda commented on #284
/assign

[2019-10-15 15:18] a-roberts opened #291 "Error decoding webhook data (eof) seen again"
# Expected Behavior

A PipelineRun for a webhook should be kicked off successfully

# Actual Behavior

[code]

Carlos previously fixed an instance of this https://github.com/tektoncd/experimental/pull/286 which was to address a bug introduced by https://github.com/tektoncd/experimental/pull/264

Important code: https://github.com/tektoncd/experimental/blob/master/webhooks-extension/pkg/endpoints/s

[2019-10-15 15:24] a-roberts commented on #283
We may end up using Go after all for this, so it's on hold

[2019-10-15 15:55] a-roberts commented on #291
Note that the data's read in fine using the latest code from master on Docker Desktop and simple pipeline, so it may be to do with simple pipeline insecure or the latest nightly images aren't actually up to date/containing fixes.

[2019-10-15 20:13] akihikokuroda commented on #284
So far, I don't see any issue in using the Openshift internal registry.  I used "java-microprofile-build-deploy-pipeline" installed by Kabanero and specified "docker-registry.default.svc:5000/kabanero/" as the docker registry in the webhook creation.

Additional information in the webhook creation:
- Repository URL: created by the appsody init in GHE
- Access Token: GHE access token
- Namespace: k

[2019-10-16 09:35] a-roberts opened #292 "Webhooks can't be created successfully (ksvc never ready, after upgrading to Kubernetes 1.14.6)"
# Expected Behavior
The ksvc should become ready and thus we can create webhooks with green ticks

# Actual Behavior
No webhook is attempted to be created because (as seen when describing the gihtubsource), we see:

When I get my githubsource as yaml:
[code]

My address is set in my configmap.

[code]

if we describe the revision, it's stuck

[code]

If we describe the route:

[code]

I have no Vi

[2019-10-16 10:16] a-roberts commented on #292
Upgraded my Docker version so the Kubernetes version is now 1.15.4 and I no longer see this problem, installed everything from scratch (knative then istio (previously I did istio first)), closing 😅

[2019-10-16 10:16] #292 closed

[2019-10-16 11:00] a-roberts opened #293 "Sink deployment never gets a replica after upgrading to Kubernetes 1.15.4"
# Expected Behavior

A created webhook should have a green tick - indicating it has reached the sink successfully

# Actual Behavior

The deployment responsible for the sink pods is forever in a 0/0 state, despite all pods in my cluster being healthy. This is after upgrading to the latest version of Docker Desktop which is using Kubernetes 1.15.4.

Because of this, webhooks don't work (you'll alwa

[2019-10-16 13:32] vtereso commented on #291
/assign

[2019-10-16 13:53] carlos-logro commented on #238
/assign

[2019-10-16 14:44] akihikokuroda commented on #284
I opened the issue https://github.com/kabanero-io/docs/issues/133 in kabanero/doc.

[2019-10-16 14:48] akihikokuroda commented on #279
/assign

[2019-10-16 15:57] akihikokuroda commented on #284
/close

[2019-10-16 15:57] #284 closed

[2019-10-16 20:39] ncskier commented on #225
Unfortunately, I was not able to reproduce this error either. I tried multiple times on Chrome. I tested on D4D and pulled the latest code from master today, installing with `npm ci`, `npm run build_ko`, `ko apply -f config/`.

[2019-10-16 20:49] ncskier commented on #225
/close

[2019-10-16 20:49] #225 closed

[2019-10-16 20:54] ncskier commented on #240
/assign
Just to clarify, the goal of this issue is now to embed the PipelineResource in the PipelineRun that the webhooks extension is creating. Correct?

[2019-10-17 10:02] a-roberts commented on #293
Phew, this issue's gone away now, my webhook's green

Installed everything again from scratch...

![image](https://user-images.githubusercontent.com/12814972/66999239-86ada680-f0cd-11e9-86e1-6268c93fc6f4.png)

Closing 😅

[2019-10-17 10:02] #293 closed

[2019-10-17 16:07] ncskier commented on #240
We don't have `github.com/tektoncd/pipeline` in our `Gopkg.toml` file. I'm going to add it because we will explicitly need to be on a version including https://github.com/tektoncd/pipeline/pull/1324.

[2019-10-17 16:23] ncskier opened #294 "GitHub webhook ping 404 error"
# Expected Behavior
I expect that when a webhook is created in GitHub, GitHub will verify that the webhook points to the proper URL by sending a ping request and receiving a valid response. The GitHub webpage indicates this success with a green checkmark next to the webhook.

# Actual Behavior
Sometimes, the ping request fails with a 404 error, and I see a red "x" next to the webhook on the GitHub

[2019-10-17 16:35] akihikokuroda commented on #279
PR: https://github.com/tektoncd/experimental/pull/295
This PR is still using the openssl.
Should it use the cfssl instead?

[2019-10-17 18:59] carlos-logro commented on #238
knative: v0.0.6
docker: 2.1.3.0
kubernetes: 1.14.6
dashboard: 0.2.0
versions in which i was able to create a webhook, commit changes & see a successfully triggered PipelineRun:
1.1.8
1.1.9
1.1.10
1.1.11
1.1.12
1.1.13
1.1.14
1.1.15
1.1.16

[2019-10-18 13:07] vtereso commented on #291
I installed the dashboard and experimental using the latest release as well as their nightly releases and I could not reproduce this problem. I tested on the latest D4D and for the dependencies, I just ran the prereq script (https://github.com/tektoncd/experimental/blob/master/webhooks-extension/test/install_prereqs.sh). The only issue I could find was the monitor test was using the old interpolat

[2019-10-18 13:50] ncskier commented on #240
PR ready, but holding on this issue. See [this](https://github.com/tektoncd/experimental/pull/296#issuecomment-543756159) comment.
/unassign

[2019-10-18 13:50] vtereso commented on #291
I will make a cleanup PR.

[2019-10-18 13:51] carlos-logro commented on #219
/assign

[2019-10-18 15:50] #262 closed

[2019-10-18 15:50] #208 closed

[2019-10-18 18:35] vtereso commented on #221
See: https://github.com/tektoncd/pipeline/issues/1286#issuecomment-534746540 and https://github.com/tektoncd/pipeline/pull/1408. This should be available within the 0.8 Tekton release.

[2019-10-18 18:39] vtereso commented on #224
/assign

[2019-10-21 15:05] akihikokuroda commented on #220
/assign

[2019-10-21 15:10] carlos-logro commented on #251
/close

[2019-10-21 15:10] #251 closed

[2019-10-21 15:26] akihikokuroda commented on #244
PR merged

[2019-10-21 15:26] akihikokuroda commented on #244
/close

[2019-10-21 15:26] #244 closed

[2019-10-21 15:42] carlos-logro commented on #211
/assign

[2019-10-22 12:35] akihikokuroda commented on #220
PR: https://github.com/tektoncd/experimental/pull/301

[2019-10-22 13:09] vtereso commented on #224
I made changes to the dashboard informers to support a behavior to delete terminated runs, but this overlaps with an outstanding PR: https://github.com/tektoncd/pipeline/pull/1429. If we can wait until our release versioning can pull this change (likely 0.9), I think this would be best.

[2019-10-22 13:22] vtereso commented on #222
As of now, the pull request functionality doesn't support this: https://github.com/tektoncd/pipeline/blob/master/cmd/pullrequest-init/main.go#L31. Although `PipelineResources` are unlikely to make beta, the underlying images (e.g. generated by `ko` from the above) can be used as tasks in much the same way. We could add an optional parameter to the download flag, which would set the status.

[2019-10-22 13:35] vtereso commented on #250
With the move to Triggers (under the current architecture), we need to have a validator/interceptor for events. With multiple interceptors, we could have authentication for one inteceptor and repo/event matching in other. A single interceptor could also do this all in one, but would be less modular (in case this feature isn't available when this is picked up). Although we could have one large serv

[2019-10-22 14:29] akihikokuroda commented on #56
So far, I can not find the webhook or REST API for the registry. https://docs.openshift.com/container-platform/4.2/registry/architecture-component-imageregistry.html

[2019-10-22 14:45] a-roberts commented on #294
Yeah, while we don't have a release out there using Triggers (where we won't see this issue) I think it's worth spending a little time on seeing if there's a quick fix for this, happens to me plenty of times too on a "first webhook" event.

Worst case scenario we mention it in the docs (one should retrigger the payload if they get a 503 back too indicating there's no sink ready yet)

I'll add to t

[2019-10-23 13:48] ncskier commented on #266
/assign

[2019-10-23 14:16] a-roberts commented on #245
Merged so closing

[2019-10-23 14:16] #245 closed

[2019-10-23 14:23] a-roberts commented on #278
Merged so closing

[2019-10-23 14:23] #278 closed

[2019-10-23 14:28] a-roberts commented on #246
Duane's done this too committing into the hotel, looking pretty good, assigning him too and closing (had to do the same for push and pull requests)

[2019-10-23 20:50] ncskier opened #304 "Use/Share Components from the Dashboard"
# Expected Behavior
I expect shared UI components, like Dropdowns, to be visually & functionally consistent across the Dashboard and the Webhooks-Extension.

# Actual Behavior
Shared UI components are not consistent across the Dashboard and the Webhooks-Extension. For example, the Pipelines Dropdown in the Dashboard looks different than the Pipelines Dropdown in the Webhooks-Extension. They displa

[2019-10-24 09:54] a-roberts commented on #238
Thanks @carlos-logro (looping back on this while cleaning up issues), could you do a PR to mention those versions we've tried please?

It's useful information to know and users are welcome to install with, say, Istio 1.1.16.

I realise these guidelines will eventually change for OpenShift 4.2 and our Triggers story but it's useful to have in the meantime.

[2019-10-24 09:57] #177 closed

[2019-10-24 14:16] vtereso commented on #224
I think we are aligned to await until https://github.com/tektoncd/pipeline/pull/1429 lands.
/unassign

[2019-10-24 14:47] a-roberts opened #305 "Prove and doc usage of OpenShift 4.2 registry for webhook usage"
`docker-registry.default.svc:5000/kabanero` is what should be used (note the lack of trailing slash), otherwise the buildah pipeline for example fails (tries to use two slashes)

[code]

The deploy step fails for this reason, so while Kabanero docs are present I don't see any for the webhooks extension itself pushing to OpenShift. I will follow up, figure it out and document it here.

[2019-10-24 14:47] a-roberts commented on #305
@akihikokuroda FYI as I know you worked https://github.com/tektoncd/experimental/issues/284

[2019-10-24 14:50] ncskier commented on #223
Although I think we really need more tests for the webhooks-extension, I don't think it would be worth adding tests to the sink right now, since issue https://github.com/tektoncd/experimental/issues/243 is in progress to remove the sink entirely (if I understand correctly). @mnuttall, @dibbles should we close this issue due to #243?

[2019-10-24 15:29] a-roberts commented on #305
I've made the buildah task skip the tls verify step and now I see

[code]

I'll ask RedHat buddies and get good with https://docs.openshift.com/container-platform/4.1/registry/accessing-the-registry.html#registry-accessing-directly_accessing-the-registry next. And we need to make it easy "in app" to use it (e.g. for secret creation instead of just recommending the Dockerhub link, recommend a RedHa

[2019-10-24 15:48] a-roberts commented on #305
`oc adm policy add-role-to-user edit -z tekton-webhooks-extension`

Insecure buildah task used

Docker registry being `image-registry.openshift-image-registry.svc:5000/kabanero`

![image](https://user-images.githubusercontent.com/12814972/67502616-116a4480-f67e-11e9-8f89-3b451467fc90.png)

consider it proven, I'll get into the docs

[2019-10-24 16:14] #305 closed

[2019-10-24 17:26] ncskier commented on #304
This thread has a little more information about how the Dashboard UI components can be used in the Extension https://github.com/tektoncd/experimental/pull/303#discussion_r338664478

[2019-10-24 19:30] ncskier commented on #221
Pipelines v0.8.0 is out now, and I just tested this with our latest code. The comments that I made in the pull request were not overwritten by the monitor task.
/close

[2019-10-24 19:30] #221 closed

[2019-10-25 13:39] carlos-logro commented on #238
/close

[2019-10-25 13:39] #238 closed

[2019-10-25 14:37] #266 closed

[2019-10-25 16:06] a-roberts commented on #291
Not seeing this and Vincent's cleanup PR is in so closing

[2019-10-25 16:06] #291 closed

[2019-10-25 18:30] ncskier commented on #294
/assign
I took a quick look at this, and since knative is setting up our webhook, it doesn't look like something that we can quickly fix.

This isn't a breaking bug, and it will be resolved with #243. So, I've mentioned it in the docs with this PR https://github.com/tektoncd/experimental/pull/308.

[2019-10-28 11:27] a-roberts commented on #294
Yeah, I agree so let's close with the doc, thanks for the PR @ncskier

[2019-10-28 11:27] #294 closed

[2019-10-28 13:31] a-roberts opened #309 "Interceptor responses can contain nil as the message"
# Expected Behavior

When the interceptor service fails or passes there should be a response containing the actual reason instead of nil

# Actual Behavior
We see

[code]

I'll fix this

[2019-10-28 13:31] a-roberts commented on #309
Spoke with @vtereso, in some cases err isn't even set so I'm passing nil in the response. It can just be the string message that we want.

Then when the service fails, one can check the EventListener pod logs instead of finding the service's pod logs.

[2019-10-28 13:55] vtereso commented on #56
/assign

[2019-10-28 20:43] vtereso commented on #56
So far I found [old (v3.5) Openshift registry documentation](https://docs.openshift.com/container-platform/3.5/install_config/registry/extended_registry_configuration.html#docker-registry-configuration-reference-notifications) that specifies a way to get [webhooks/notifications](https://docs.docker.com/registry/configuration/#notifications) on Docker registry events. I found the codebase for the O

[2019-10-29 14:25] carlos-logro commented on #48
first pass has been merged, unassigning but not closing due to new designs
/unassign

[2019-10-29 20:28] carlos-logro commented on #50
first pass has been merged, unassigning but not closing due to new designs
/unassign

[2019-10-30 10:32] Megan-Wright commented on #269
/assign

[2019-10-31 15:15] Megan-Wright opened #313 "Webhooks create modal buttons misaligned"
On the webhooks create modal, the "create" and "cancel" buttons are merged together when the "create button is disabled. They only separate back into the correct places when the "create" button is enabled. This is a consistent issue on Firefox, Google Chrome and Safari.

![Screenshot 2019-10-31 at 15.13.58.png](https://images.zenhubusercontent.com/5d25b016e0bbdc62005f7da6/e6f09bb1-f281-40a7-9bd9-2

[2019-10-31 16:24] Megan-Wright opened #314 "Webhook names cannot contain "0""
Expected Behaviour:
I should be able to create a webhook with a name including a "0".

Actual Behaviour: This is not possible, it shows up as an invalid name.

[2019-10-31 16:24] Megan-Wright commented on #314
/assign

[2019-10-31 19:30] carlos-logro commented on #211
PR #300 fixed this but also removed some necessary styles that made the disabled create button render incorrecly. That being said, PR #316 fixes that minor error.

thus closing this issue.

/close

[2019-10-31 19:30] #211 closed

[2019-10-31 21:02] carlos-logro commented on #130
/assign

[2019-11-01 08:56] a-roberts commented on #130
Merged so closing

[2019-11-01 08:56] #130 closed

[2019-11-01 12:06] a-roberts commented on #314
Merging so closed

[2019-11-01 12:06] #314 closed

[2019-11-01 12:11] #19 closed

[2019-11-01 12:13] #35 closed

[2019-11-01 13:40] a-roberts opened #319 "Bundle location hash checker does not check OpenShift yaml"
# Expected Behavior

It should

# Actual Behavior

Have a look at what's currently checked in
https://github.com/tektoncd/experimental/blob/master/webhooks-extension/config/extension-service.yaml has  tekton-dashboard-bundle-location: "web/extension.3d20fced.js"

https://github.com/tektoncd/experimental/blob/master/webhooks-extension/config/openshift/openshift-tekton-webhooks-extension-release.yam

[2019-11-01 14:55] a-roberts commented on #319
PR https://github.com/tektoncd/experimental/pull/320

[2019-11-04 11:12] a-roberts commented on #282
Duane's got the working yaml in his PR now so closing

[2019-11-04 11:12] #282 closed

[2019-11-04 17:11] a-roberts commented on #319
Merged so closing

[2019-11-04 17:11] #319 closed

[2019-11-05 09:20] a-roberts commented on #313
I'm not seeing this in any browser on my latest deployment (using the 0.2.1 release), when the browser window is made much more narrow the buttons will instead stack.

Tried Safari, Firefox and Chrome.

Tried this on master too. @Megan-Wright can you reliably reproduce this now and how? I've checked both with and without the create button being enabled

[2019-11-05 10:56] a-roberts commented on #313
Pretty sure this is fixed (see https://github.com/tektoncd/experimental/commit/b8d1609928212c3c268f3896e2134f0320bd5e90 for a recent change) so closing

[2019-11-05 10:56] #313 closed

[2019-11-06 14:51] a-roberts commented on #309
This is going in with Duane's code when he's ready for the Triggers PR so closing it as done (code in the PR).

[2019-11-06 14:51] #309 closed

[2019-11-11 13:23] dibbles commented on #223
Closing in favour of opening new test issue for triggers impl.

[2019-11-11 13:23] #223 closed

[2019-11-11 13:31] dibbles opened #327 "Use a go library/3rd party open source code to create webhook"
Currently the webhook is created using a Task - this is time consuming and difficult to monitor.  Change to using a go library to create the webhook in github and take cleanup actions if a failure occurs.

For example, if the webhook has been added to the eventlistener and then creation of the webhook fails, we should also remove the entry from the event listener.

Remove the Task yaml from the co

[2019-11-11 13:35] a-roberts commented on #247
@dibbles ready to do the honours and close this now it's merged? 😄

[2019-11-11 13:36] dibbles opened #328 "Use the kube client for ingress creation"
Currently the ingress is created using a Task - this is time consuming and difficult to monitor. Change to using r.k8sClient.ExtensionsV1Beta1().Ingresses

Remove Ingress Task from config dir and from yamls in which it is embedded.

[2019-11-11 13:38] dibbles opened #329 "Use openshift go client for route creation"
Currently we use a task to create the route when running on openshift, we should change this to using the go client...

...see https://github.com/openshift/client-go/tree/master/route

[2019-11-11 13:41] dibbles opened #330 "Additional go testing required on the new webhooks.go code"
The triggers implementation in webhooks.go needs additional unittests writing as the current test suite is very golden path - and only tests success scenarios - this should be expanded to give more coverage and ensure error conditions are properly handled.

- incorrect inputs to methods
- different webhook JSON payloads
- upper/lowercase inputs

[2019-11-11 13:44] dibbles opened #331 "Reduce RBAC ClusterRole / ClusterRoleBInding to not be cluster wide."
Investigate (and implement) if we can reduce RBAC from ClusterRoleBinding/ClusterRole to RoleBinding and Role.

Would suggest testing multi-namespace webhooks, as triggers code runs from the install namespace but needs to be able to create artefacts in alternate namespaces.

[2019-11-11 13:54] dibbles opened #332 "Remove the configmap underlying the webhooks"
Investigate the impact of removing the "githubwebhook" configmap and retrieve information about webhooks by processing the eventlistener instead.  Add plenty of webhooks so that any impact can be assessed

Report back in a scrum about the impact and receive a decision on whether or not to remove the configmap.

[2019-11-11 13:57] dibbles opened #333 "Add instructions on labelling builds"
Previously we were able to label pipelineruns as we created them.  Triggers now takes control of creating these pipelineruns and as such we need to document what a customer needs to do to get branches showing when clicking on the webhook.

A link will be needed to the doc from the UI when no branches are displayed.

[2019-11-11 14:01] dibbles opened #334 "Monitor task needs updating to work with pipelines 0.8"
After the dashboard is functioning with pipelines 0.8, we should ensure webhooks also moves up and functions.  It is believed that there is an existing bug in the monitor task that needs fixing.

Note that the monitor task is embedded in a number of yaml files and is not simply the single monitor.yaml file in the config directory.

Any required fixes should ONLY be delivered after dashboard is fun

[2019-11-11 14:03] dibbles opened #335 "Test and fix webhook being deleted in github before being deleted in UI"
This issue should be worked after we change to using a go client for webhook creation.  Test that after a webhook has been manually deleted in GitHub, that the webhook in the extension can be deleted through our UI - in theory this should work and was only a problem when using a taskrun for creation/deletion.

[2019-11-11 14:14] dibbles opened #336 "Add restrictions to the pull_request trigger"
Currently pull_requests trigger pipelines under a number of different scenarios, for example creation/label/unlabel/close ..... restrict the trigger to run only on pull_request creation and when subsequent pushes happen that update the code backing the pull request.

[2019-11-11 14:16] dibbles opened #337 "Harden the installation scripts to account for error states"
test/util.sh does

sed -i .previous -e "s/IPADDRESS/$IPADDRESS/g" config/extension-deployment.yaml

This is ok if:

- you never get it wrong
- your IP address never changes
- no one checks in their sed’d version

Harden the script such that the delivered file is not updated but either an alternative used and not checked-in - or such that the updated file is passed in memory rather than on the file

[2019-11-11 14:18] mnuttall commented on #334
See my note on https://github.com/tektoncd/dashboard/issues/688

[2019-11-11 14:39] #209 closed

[2019-11-11 14:39] #243 closed

[2019-11-11 14:40] #283 closed

[2019-11-11 16:43] ncskier commented on #327
/assign

[2019-11-11 23:31] akihikokuroda commented on #328
/assign

[2019-11-12 14:06] mnuttall opened #339 "Plumbing update for nightly builds"
config/latest/gcr-tekton-webhooks-extension.yaml refers to gcr.io/tekton-nightly/interceptor:latest which is not yet being published.

test/presubmit-tests.sh starts with

source $(dirname $0)/../../vendor/github.com/tektoncd/plumbing/scripts/presubmit-tests.sh
It is through the plumbing scripts that our overnight images are published to gcr. A plumbing update is required in order to publish the n

[2019-11-12 14:14] dibbles opened #340 "Labels getting deleted from pull requests by the monitor task"
It looks like we do not preserve labels/data on the pull request when the monitor task does its upload - this might be as simple as copying the /workspace/pull-request/labels directory to /workspace/output/pull-request/labels ????

1. To recreate the bug create a pull request - let the pipelinerun finish
2. Add a label to the pull request (causing a pipelinrun to start)
3. Cancel the pipeline run

[2019-11-12 15:23] mnuttall opened #342 "Retest v0.2.1 on Pipelines 0.8"
We need to know if dashboard and webhooks-extension function correctly with Tekton Pipelines v0.8. There are some new functions in v0.8 (e.g. resourceSpec introduced in https://github.com/tektoncd/pipeline/commit/bcbba978e8ccc0f52b673a7501bbf6e48bf38ca9) - these won't of course work, https://github.com/tektoncd/dashboard/issues/688 for details).

What we need to confirm is that the golden path flo

[2019-11-12 16:54] #247 closed

[2019-11-12 17:05] mnuttall commented on #39
Closing this as a duplicate of https://github.com/tektoncd/experimental/issues/40

[2019-11-12 17:05] #39 closed

[2019-11-12 17:07] mnuttall opened #343 "Webhooks on AWS"
Use this issue to test Tekton dashboard and webhooks extension to receive and act on webhooks from github.com to a Tekton hosted on public AWS. This may result in code changes and should result in a documentation update to note what was learned on the way.

[2019-11-12 17:07] mnuttall opened #344 "Webhooks on Google Cloud"
Use this issue to test Tekton dashboard and webhooks extension to receive and act on webhooks from github.com to a Tekton hosted on public Google Cloud. This may result in code changes and should result in a documentation update to note what was learned on the way.

[2019-11-12 17:07] mnuttall opened #345 "Webhooks on Azure"
Use this issue to test Tekton dashboard and webhooks extension to receive and act on webhooks from github.com to a Tekton hosted on public Azure. This may result in code changes and should result in a documentation update to note what was learned on the way.

[2019-11-12 17:07] mnuttall opened #346 "Webhooks to Tekton on public clouds"
We've done plenty of work ensuring that webhooks work on local kubes, and OpenShift. This epic broadens our testing to include the major public clouds.

[2019-11-12 20:12] vtereso commented on #56
I opened an issue and was directed to the new documentation that specifies that [`ImageStreams`](https://docs.openshift.com/container-platform/4.2/openshift_images/image-streams-manage.html#working-with-imagestreams) should best simulate a webhook like behavior. The image registry will create an [ImageStreamMapping](https://github.com/openshift/image-registry/blob/4c72a946991a1e0e67eda2855344bb0d4

[2019-11-12 20:57] vtereso commented on #336
/assign

[2019-11-12 21:21] vtereso commented on #336
Within https://github.com/tektoncd/triggers/issues/49, we will be using CEL to provide filtering within `EventListener`. Once this is in, I will update our generated `EventListener` to only trigger on `[opened, synchronize]` actions.

[2019-11-12 22:14] vtereso commented on #329
/assign

[2019-11-13 08:55] dibbles commented on #336
That would mean this piece would have a reliance on triggers 0.2 presumably .... therefore we need a decision about our 0.3 release.  Presuming it is triggers 0.1 then we would need to do some other implementation in our interceptor ....... then for 0.2 change code to exploit new triggers functionality.

Or we do nothing for our 0.3 release in this area ..... or we do 0.3 on 0.2 triggers.
@mnuttal

[2019-11-13 10:27] a-roberts commented on #339
Pretty sure I just need to change the word `sink` to `interceptor` for publish-images.sh, will test

Need a followup issue to fix the release pipeline as well

[2019-11-13 10:29] a-roberts commented on #339
PR https://github.com/tektoncd/experimental/pull/348

[2019-11-13 10:31] a-roberts opened #349 "Update release pipeline for our Triggers release"
Currently we have plenty of mentions of `sink`, likely this can simply be replaced with `interceptor`.

Under this task update the release pipeline (see the `tekton` folder), do a trial and run/dummy release and celebrate.

[2019-11-13 10:54] a-roberts commented on #339
Job finished, PR merged

[code]

Had a few layers locally as I built it in the first place, closing

[2019-11-13 10:54] #339 closed

[2019-11-13 14:18] a-roberts commented on #342
Note that neither myself or any colleagues doing SVT can get the existing 0.2.1 release can create webhooks successfully in GHE atm, so it's likely we need to address this first.

I'm discussing this with a RedHat colleague now who owns the Serverless Operator, my suspicion is something else has happened underneath us.

[2019-11-13 15:52] a-roberts opened #350 "Webhooks no longer created with latest operators on OCP 4.2 and our 0.2.1 release"
Versions I've got (auto updated):
[code]

We no longer see `created hook` in `k logs -f github-controller-manager-0 -n knative-sources`

Under this urgent issue, identify what the remediation is. We know we can't pin down operator versions, we have no extension log errors, but the webhook is just never created in GHE.

[2019-11-13 16:31] a-roberts commented on #350
My install namespace wasn't enrolled, now it is - closing, works

[2019-11-13 16:31] #350 closed

[2019-11-13 16:35] akihikokuroda commented on #250
/assign

[2019-11-13 16:38] akihikokuroda commented on #250
Here is the doc for the pullrequest action.
 https://developer.github.com/v3/activity/events/types/#pullrequestevent

[2019-11-13 16:52] a-roberts commented on #342
[code]

here's what I see from the monitor task pod, note the last part.

[2019-11-13 16:54] akihikokuroda commented on #250
Check the `action` of the pullrequest and
process: `opened`,  `reopened`, ignore: `assigned`, `unassigned,` `review_requested`, `review_request_removed`, `labeled`, `unlabeled`, `edited`, `closed`, `ready_for_review`, `locked`, `unlocked`

 should be in the pushreqeust

[2019-11-13 17:10] a-roberts commented on #342
Edited to include the mkdir as is in master:

[code]

Kicked off another run

[code]

Notice the timings. So I'm not seeing a big error, but my status on the PR is pending forever. My PipelineRuns actually failed though.

[2019-11-13 18:06] AlanGreene commented on #250
Should we also include `synchronize` (when PR commits are updated)?

[2019-11-13 18:20] akihikokuroda commented on #250
Probably,  I don't know what this mean yet, though.

[2019-11-13 18:27] AlanGreene commented on #250
I think it's referring to this API to list timeline events for a PR since it already has a 'committed' event for that case and 'synchronized' wouldn't make sense: https://developer.github.com/v3/issues/timeline/

I just verified I receive a webhook payload with `action: synchronized` when I push changes to a PR.

[2019-11-13 18:41] rnapoles-tktn commented on #342
\assign

[2019-11-13 19:12] vtereso commented on #336
While we await the Triggers release, I will add this filtering as a basic match within the interceptor.

[2019-11-13 22:57] ncskier commented on #327
@dibbles does this work item also include deleting webhooks using the go library instead of the TaskRun, or is that going to be done under a separate PR?

[2019-11-14 09:04] dibbles commented on #327
@ncskier yes create and delete - I should have been more or less specific in the details :)

[2019-11-14 09:12] dibbles commented on #336
check in with @akihikokuroda - looks like there was another existing issue for this (I forgot I'd opened this) which he might have picked up https://github.com/tektoncd/experimental/issues/250

[2019-11-14 09:56] a-roberts commented on #334
I'll work on this, I logged some details at https://github.com/tektoncd/experimental/issues/342#issuecomment-553491028 and have the reproduce.

[2019-11-14 11:21] a-roberts opened #352 "Webhook creation page reported to refresh automatically on network change"
See https://github.com/tektoncd/dashboard/issues/736 for background and the fix for the Tekton Dashboard.

Under this task check that, for example while you're on a VPN, the page does not automatically refresh while trying to create a webhook (specifically it's been reported that the form clears and one's progress is lost every minute).

Look for any fetch calls that may be happening underneath us

[2019-11-14 15:29] akihikokuroda commented on #250
PR: https://github.com/tektoncd/experimental/pull/354

[2019-11-14 15:37] a-roberts commented on #334
[code]

Looks like it's stuck in pending on 0.7 too, hmmmmmm (I expected it to either be failed or success for my pull request)

Monitor task describe pod:

[code]

PipelineRun:

[code]

Fixing

[2019-11-14 16:39] a-roberts commented on #334
Right so for 0.8 with fixes applied as detailed above to handle no comments/labels already:

[code]

[2019-11-14 17:28] vdemeester commented on #342
/assign @rnapoles-tktn

[2019-11-15 10:06] a-roberts opened #355 "Monitor task breaks if no comments/labels are provided (0.2.1 release)"
I have the fix so logging this here for future ref.

Without any comments or labels you would get an error that the comments/labels directory does not exist and thus the monitor task would break leaving you with `Pending` for your pull requests - my test scenario was that of not having created secrets and thus the docker build and push stage for my simple pipeline failed.

Under this task I'll com

[2019-11-15 10:09] a-roberts commented on #334
Parking this one as I'm finishing testing the monitor task changes I've made for 0.7 (the fixes were already in master, just not against the release) and I want to make sure that's OK for failing and successful PipelineRuns.

[2019-11-15 11:27] a-roberts commented on #355
Fixes against branch https://github.com/tektoncd/experimental/commit/78008ede5030ec386076d99244726a80fff51a27
and https://github.com/tektoncd/experimental/commit/7f65a7613fda3e7b3b606b28153c8ebe0858adb7

GitHub releases fixed

Closing

[2019-11-15 11:27] #355 closed

[2019-11-15 15:19] akihikokuroda commented on #334
/assign

[2019-11-15 16:37] akihikokuroda commented on #334
Where should the fix go?  Master branch?

[2019-11-15 17:11] a-roberts commented on #334
Yep

[2019-11-15 17:26] akihikokuroda commented on #334
PR: https://github.com/tektoncd/experimental/pull/357

[2019-11-15 19:42] akihikokuroda commented on #340
/assign

[2019-11-15 19:52] akihikokuroda commented on #340
I added the changes for this in the same PR https://github.com/tektoncd/experimental/pull/357 as https://github.com/tektoncd/experimental/issues/334

[2019-11-18 11:20] a-roberts commented on #342
Note that with Aki's monitor task change merged I've confirmed webhooks behaviour works fine on Tekton 0.8 - to the extent of having a failed PipelineRun with the comment/table being added to the PR. Further testing should be done for the golden path.

[2019-11-18 11:29] a-roberts opened #358 ""Click here for help" on webhook branches view doesn't link correctly"
Goes to https://tekton-dashboard-tekton-pipelines.apps.pell.os.fyre.ibm.com/github.com/tektoncd/experimental/webhooks-extension/docs/Labels.md for example instead of https://github.com/tektoncd/experimental/webhooks-extension/docs/Labels.md

[2019-11-18 11:30] a-roberts opened #359 "Add prettier to webhooks extension linter"
Pretty sure it's not looking in all files, see https://github.com/tektoncd/experimental/pull/353

Updated: it is, but...

[2019-11-18 15:19] a-roberts commented on #334
Merged so closing, thank you Aki

[2019-11-18 15:19] #334 closed

[2019-11-18 15:20] a-roberts commented on #340
Taking a look to verify now

[2019-11-18 15:49] a-roberts commented on #340
![image](https://user-images.githubusercontent.com/12814972/69066467-436e8c80-0a19-11ea-8574-f452be2a45c3.png)

Confirmed this no longer happens so we're all good on master, I will add the fix to the released 0.2.1 yaml

[2019-11-18 15:49] #340 closed

[2019-11-18 17:04] a-roberts opened #360 "monitor-result-task is missing permissions (RBAC)"
I see
[code]

Suggesting it's running as `default`

OCP 4.2

Thus the monitor task errors. I'm using master

[2019-11-18 22:26] ncskier commented on #327
Since we aren't keeping track of the hook ID, I can't use the normal go-github hooks API to delete the webhook. go-github currently does not have PubSubHubbub supported (https://github.com/google/go-github/issues/1265), which is what our TaskRun is using to create & delete the webhook. So, for now I'm implementing this with a normal http request without using the go-github library directly for sub

[2019-11-19 09:56] dibbles commented on #360
Yes - this was a problem I spotted before I was ill - we need to add a service account into the triggertemplate i think for the taskrun - I have this somewhere so i will pick it up.

[2019-11-19 10:53] dibbles commented on #327
Can you not simply  ......

1) get the webhooks
2) iterate over the webhooks checking for the matching callback url
3) delete the id of the webhook that matches

Agree with moving away from the pubsubhubbub - this was used as a workaround to an issue.

[2019-11-19 13:18] akihikokuroda commented on #343
/assign

[2019-11-19 18:02] akihikokuroda commented on #343
By creating the ingress in the EKS, the ALB (application load balancer) is created as the ingress.  It can  be used to route the webhook events and the dashboard requests.

[2019-11-19 18:04] akihikokuroda commented on #343
Can I get the AWS account to work for this issue?

[2019-11-19 19:17] carlos-logro commented on #271
/close

[2019-11-19 19:17] #271 closed

[2019-11-19 19:17] carlos-logro commented on #268
/close

[2019-11-19 19:17] #268 closed

[2019-11-19 19:18] carlos-logro commented on #219
/close

[2019-11-19 19:18] #219 closed

[2019-11-19 21:36] ncskier opened #362 "Change GitHub PubSubHubbub API to Hooks API"
We currently use the GitHub [PubSubHubbub API](https://developer.github.com/v3/repos/hooks/#pubsubhubbub) to create and delete webhooks.

However, it does not look like GitLab has a PubSubHubbub API, so when we add support for GitLab, we'll need to use the regular hooks API ([GitHub hooks API](https://developer.github.com/v3/repos/hooks/#delete-a-hook)) ([GitLab hooks API](https://docs.gitlab.com/

[2019-11-19 21:38] ncskier commented on #327
Yeah... I wasn't thinking 😅 I saw that we were using the PubSubHubbub API in our TaskRun, so I thought that was a good reason to use it in the go code.

I created a new issue to switch from PubSubHubbub to the Hooks API: https://github.com/tektoncd/experimental/issues/362

[2019-11-20 11:28] dibbles opened #363 "Monitor task fails with no such file error"
Using Tekton 0.7 and the latest extension code I expect the monitor task to run to completion and upload results to the pull request.

The monitor task is seen to fail with:

[code]

We might need to add an if statement to protect against failing on older levels of Tekton perhaps something of the ilk:

[code]

[2019-11-20 15:09] #327 closed

[2019-11-21 11:27] #49 closed

[2019-11-21 11:28] dibbles commented on #333
This is complete

[2019-11-21 11:28] #333 closed

[2019-11-21 15:09] akihikokuroda commented on #279
I'll add code to
1. check if WEBHOOK_CALLBACK_URL is http or https protocol
2. if it's https, check if WEBHOOK_TLS_CERTIFICATE is defined and has the secret name of the certificate.
3. If not, it generates the platform signed certificate.
4. add tls section in the ingress

[2019-11-25 13:20] a-roberts commented on #358
Merge in progress so closing

[2019-11-25 13:20] #358 closed

[2019-11-25 14:46] dibbles commented on #360
cannot recreate - potentially fixed under other recent changes in yaml.  Closing for now.

[2019-11-25 14:56] #336 closed

[2019-11-25 14:57] #250 closed

[2019-11-25 14:58] a-roberts commented on #342
Let's be honest, we've got plenty of code in master now to make us work with 0.8 and to not crash when something's undefined, don't see the point in doing this retest now as our Kabanero users copied the operator

[2019-11-25 14:58] #328 closed

[2019-11-25 15:02] #360 closed

[2019-11-25 15:03] mnuttall commented on #188
Closing this for now.

[2019-11-25 15:03] #188 closed

[2019-11-25 15:33] dibbles commented on #363
https://github.com/tektoncd/experimental/pull/366

[2019-11-25 15:50] a-roberts commented on #363
Merged so closing

[2019-11-25 15:50] #363 closed

[2019-11-26 11:32] Megan-Wright commented on #269
Fixed with PR: https://github.com/tektoncd/experimental/pull/274 so closing

[2019-11-26 11:32] Megan-Wright commented on #269
/close

[2019-11-26 11:32] #269 closed

[2019-11-26 13:33] a-roberts commented on #359
Actually it does look everywhere, but we weren't using prettier while we were in the dash, just added it and found lots of problems - fixing.

[2019-11-26 13:39] a-roberts opened #368 "Initial focus did not return a node occasionally seen with webhooks table notification test"
Causes our builds to occasionally fail, we know we can get around this by splitting up the tests into their own files - used to see this regularly for the dashboard too

[2019-11-26 14:17] mnuttall commented on #343
@akihikokuroda I've just seen this, and have kicked off an internal request via email.

[2019-11-26 15:40] dibbles commented on #349
https://github.com/tektoncd/experimental/pull/367

[2019-11-26 15:46] akihikokuroda commented on #279
PR: https://github.com/tektoncd/experimental/pull/370

[2019-11-27 14:42] a-roberts commented on #359
Putting this on hold while I work on the EventListener page, to add prettier I copied everything but `notice` from the package.json and eslintrc of our dashboard.

[2019-11-27 15:35] mnuttall commented on #331
I first checked Dashboard. This has one ClusterRole which appears in five places:
- config/dev-tekton-dashboard.yaml
- config/openshift/openshift-tekton-dashboard.yaml
- config/release/gcr-tekton-dashboard.yaml
- config/templates/deploy.yaml
- DEVELOPMENT.md

It's essentially the same content in each place. Since the dashboard is expected by default to cover all namespaces, this is fine: it's righ

[2019-11-27 15:42] dibbles commented on #332
PR: https://github.com/tektoncd/experimental/pull/371

[2019-11-27 16:41] dibbles commented on #335
will implement logic that checks for webhook before attempting to delete - this will be easiest to do after #362 so will complete 362 first.

[2019-11-27 16:42] dibbles commented on #58
Will start looking at this after I finish #362 which will give us a client we can use to talk to different git providers.

[2019-11-27 16:43] #332 closed

[2019-11-27 16:43] a-roberts commented on #349
We reckon this is done, code is merged, just need to test before closing to verify

[2019-11-27 16:45] a-roberts commented on #220
It's configurable and defaults to unknown so closing

[2019-11-27 16:45] #220 closed

[2019-11-29 10:08] a-roberts opened #374 "Automatically modify extension service yaml to use the correct bundle hash when we build"
We have five files now that include the bundle location for our JavaScript code.

`npm run build_ko` should both build the bundle *and* replace the hash used in five of the yaml files so we needn't do it manually.

[2019-12-01 19:16] patcito commented on #185
Is this RFC going to move forward? Looks good to me. I would also like to point out in case you missed it that drone.io is using Starlark for their DSL as an alternative to yaml.

https://docs.drone.io/starlark/overview/

[2019-12-02 11:14] dibbles opened #375 "Pipelineruns are not created when repo is in an org"
*Expectation:*

Repository in a github enterprise org should trigger a pipeline via a webhook.

*Actual behaviour:*

The interceptor errors with

[code]

Reason:

It looks like a different api is being used to handle the payload of the github events.  In 0.2.1 it was

`"gopkg.in/go-playground/webhooks.v3/github"`

In master, the interceptor uses

`"github.com/google/go-github/github"`

We could ei

[2019-12-02 11:47] a-roberts opened #376 "Modify example pipelines to use resourceSpec with Triggers"
See https://github.com/tektoncd/triggers/issues/244

What we have at https://github.com/pipeline-hotel/example-pipelines/tree/master/triggers-resources/config is very likely to have the same problem mentioned above, so under this issue modify the example trigger pipelines to use resourceSpec in the Pipeline definition for the buildah and simple-pipeline TriggerTemplates.

[2019-12-02 11:48] dibbles opened #377 "Ability to use a git tag as the docker image tag"
Taking the triggers based pipelines in https://github.com/pipeline-hotel/example-pipelines/tree/master/triggers-resources/config, when a commit is pushed to github, then pipelines create a docker image that is tagged (as per the trigger bindings):

[code]

or for pull requests

[code]

What I would like to be able to do are the following:

1. Use a short commit id rather than the long one as the i

[2019-12-02 13:11] dibbles opened #378 "Git tags show as branch names when clicking on the webhook name"
As per the pipelines at https://github.com/pipeline-hotel/example-pipelines/tree/master/triggers-resources/config - when pushing a git tag to my git repository the `webhooks-tekton-git-branch` field that is added to the payload body in the interceptor, decides to list my tag as a branch name.

This is because of the trigger template specifying the label: `webhooks.tekton.dev/gitBranch: $(params.we

[2019-12-03 11:25] a-roberts opened #381 "PipelineRun URL incorrect for monitor task (Docker Desktop)"
I'm convinced this isn't as easy as it sounds or I missed a step - so for a local test scenario I:
- installed nginx
- Triggers 0.1
- Tekton Pipelines 0.8
- Used the simple pipeline (trigger version) from the pipeline hotel

My monitor task fails for my pull request.

The link to get more details is for http://tekton-dashboard:9097/v1/namespaces/tekton-pipelines/endpoints/#/namespaces/tekton-pipel

[2019-12-03 13:36] mnuttall opened #384 "'Success' message on a PullRequest contains a bad URL"
I set up a webhook and created a PullRequest. The PullRequest was updated with a message of the form,

'Success' was a clickable link to https://tekton-dashboard-tekton-pipelines.apps.thursday.os.fyre.ibm.com/#/namespaces/test/pipelines/buildah-pipeline/runs/buildah-pipeline-run-lvvcv which does not load - the correct URL is https://tekton-dashboard-tekton-pipelines.apps.thursday.os.fyre.ibm.com/#

[2019-12-03 15:37] a-roberts commented on #375
Merged so closing

[2019-12-03 15:37] #375 closed

[2019-12-03 15:43] vtereso commented on #329
Fix: https://github.com/tektoncd/experimental/pull/383

[2019-12-03 15:44] a-roberts commented on #329
Merged so closing

[2019-12-03 15:44] #329 closed

[2019-12-04 15:03] Megan-Wright commented on #384
/assign

[2019-12-04 16:05] #377 closed

[2019-12-05 10:10] dibbles commented on #335
Have confirmed this is being handled in 362

[2019-12-05 10:10] #335 closed

[2019-12-06 13:22] a-roberts opened #385 "Upgrade webhooks extension to work with Tekton 0.9"
Currently if you try to use Tekton Pipelines 0.9 you see this from the EventListener pod:

[code]

thus no resources and created (and by extension we don't get to see if the monitor task works, which is unlikely to as PullRequestResource has changed substantially based on Slack conversations)

I think it's a problem in Triggers (I'm using 0.1), asked in triggers-dev

[2019-12-06 16:16] #362 closed

[2019-12-06 16:24] dibbles commented on #58
I have a very hacked together proof-of-concept for some of this:

My Changes:

1. Create client (GitHub/Gitlab) based on repo URL (as first pass) as create/delete webhook
2. Modify git pipelineresource to take a tlsVerify flag to disable certificate validation on git commands as using a self signed cert.
3. Modified interceptor to look for different headers/values
4. Modified test pipeline trigger

[2019-12-07 19:52] ImJasonH commented on #185
There have been a few prototypes demoed in WG meetings, but I don't know of any more official experiments. I think there's broad consensus that some DSL (YAML or otherwise) would be useful. If you are reading this and have ideas feel free to share them. :)

[2019-12-09 11:52] a-roberts opened #387 "Unable to create webhooks now (error 422 using GHE)"
[code]

Tried with nightly images for the extension and interceptor, and with freshly built from master ko-built images, on OCP 4.2

Using GHE

[code]

We already pin the version:
[code]

[2019-12-09 11:54] a-roberts commented on #387
@dibbles and @mnuttall *aren't* seeing this, so I'm gonna play spot the difference and compare versions

[2019-12-09 14:12] a-roberts commented on #387
Fun times, had a " on the end of my callback URL, closing due to user error 😉

[2019-12-09 14:12] #387 closed

[2019-12-09 15:09] a-roberts commented on #385
Actually, AFAIK there's nothing stopping us working with 0.9 - just gotta update the TriggerTemplate info (thanks @ncskier for taking a look), gonna close this until we know there is a problem and they can be new issues

[2019-12-09 15:09] #385 closed

[2019-12-09 15:31] ncskier commented on #385
No problem. The TriggerTemplates will have to be updated using `serviceAccountName`. However, I have not tested the monitor Task itself, so there could still be an issue with it. As you said,

[2019-12-09 16:29] a-roberts opened #388 "Monitor task with 0.8 openshift-pipelines operator picks up wrong service account name"
With the operator (canary channel):

[code]
I created my webhook with the SA as tekton-webhooks-extension, pipeline is a built-in SA which doesn't have the permissions I need so my monitor task gets an RBAC error

Without

[code]

@dibbles spotted https://github.com/openshift/tektoncd-pipeline-operator/blob/master/pkg/flag/flag.go which is potentially a clue (notice the SA name defaulting to `pipe

[2019-12-09 20:23] ncskier opened #389 "Webhooks UI does not show what ServiceAccount the Webhook uses"
# Expected Behavior
After creating a webhook using the UI, I expect to be able to see what ServiceAccount the webhook is using.

# Actual Behavior
After creating a webhook using the UI, I am not able to see what ServiceAccount the webhook is using.
![Screen Shot 2019-12-09 at 3 18 19 PM](https://user-images.githubusercontent.com/16961496/70469632-67ad0e80-1a97-11ea-8a7d-b439facbb769.png)

# Steps

[2019-12-10 12:54] danielhelfand opened #391 "Octant Plugin: Create New Tab for Tekton in Dashboard Instead of Putting Information Under CRD Tab"
Currently, the Octant plugin for Tekton links data for Tekton to the resources under the Custom Resources tab:

![image](https://user-images.githubusercontent.com/34258252/70530965-fa928b00-1b21-11ea-93ad-a4bcc1a3c1cf.png)

It would be nice to have this information shown under a tab specifically devoted to Tekton so that there is no confusion over how to find the information in the Octant dashboar

[2019-12-10 14:03] danielhelfand commented on #391
/kind feature

[2019-12-10 15:15] a-roberts commented on #388
@vdemeester any thoughts please? 👼

[2019-12-10 15:48] mnuttall commented on #388
I'm hoping there's a flag on the operator that can be used to set a default serviceAccount. @nikhil-thomas or @sthaha may also be able to advise?

[2019-12-10 15:53] mnuttall commented on #391
Hi @danielhelfand does this issue belong in https://github.com/vmware-tanzu/octant? We don't currently do any Octant-related work in this repository.

[2019-12-10 15:56] mnuttall commented on #391
@danielhelfand  @ImJasonH does this relate to the octant-plugin? (I wasn't aware of it but just saw https://github.com/tektoncd/experimental/pull/361.)

[2019-12-10 16:08] ImJasonH commented on #391
Yeah we should do this. It looks like the plugin system allows plugins to register navigation (sidebar) components ([sample](https://github.com/vmware-tanzu/octant/blob/6303f7e7584399a739af52b5e9b594cb4d530244/cmd/octant-sample-plugin/main.go#L148-L168)). I'm not sure if it also allows plugins to hide CRD types from the CRD navigation section, but that's probably less important.

[2019-12-10 19:52] danielhelfand commented on #391
@ImJasonH As you say, I think it's not a big deal to hide CRDS, but a space truly focused on Tekton within the dashboard I think would be really great.

I can take a shot as this unless you already have some thoughts around this.

[2019-12-10 20:05] ImJasonH commented on #391
@danielhelfand Yeah that makes sense. If you want to do it that's fine, I probably won't have time to immediately, and it'd be great to have others involved in the Octant plugin. :muscle:

[2019-12-10 22:43] ncskier opened #394 "Duplicate config YAML files are a pain"
# Expected Behavior
As a developer, I expect it to be easy to update the webhook release and track changes to the pieces of the release.

# Actual Behavior
Right now it is confusing to update the release, because there are 5 files that are mostly duplicates of one another:
1. [`extension-deployment.yaml`](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/config/extension-depl

[2019-12-10 23:29] sthaha commented on #388
@a-roberts @mnuttall I am closing this in favour of https://github.com/openshift/tektoncd-pipeline-operator/issues/139 (copied the issue to the acutal repo)

[2019-12-10 23:29] sthaha commented on #388
/close

[2019-12-11 09:42] a-roberts commented on #388
Thanks @sthaha for taking a look, reopened due to the comment Vincent's made here:

So there's a workaround we can apply for now (specifying `serviceAccountName`).

[2019-12-11 10:14] mnuttall commented on #394
I have a plan for this! We can use https://github.com/kubernetes-sigs/kustomize to remove the duplication.

[2019-12-11 10:22] dibbles opened #395 "Deleting the pipelinerun causes pull request status to be successful"
# Expected Behavior

When a pull request is created, I would expect the status of the pull request to be "failed" or "error", if I delete the pipelinerun whilst it is running.

# Actual Behavior

The status is success and the table of pipelineruns simply shows the table headers and no pipelineruns.

# Steps to Reproduce the Problem

1. create webhook
2. create pull request to repo
3. when pipeline

[2019-12-11 11:10] Megan-Wright commented on #388
/assign

[2019-12-11 11:11] dibbles opened #397 "Duplicate posting of last pull request comment"
# Expected Behavior

@a-roberts noticed that when he made updates to an existing pull request such that a new pipelinerun was triggered - old pipelinerun result comments were getting reposted when the new monitor task changed the status of the pull request to pending.

# Actual Behavior

Comments should not be duplicated

# Steps to Reproduce the Problem

Not sure if reproducible - needs investiga

[2019-12-11 11:14] dibbles commented on #376
also while there.... worth modifying bindings to use:

[code]

which should in effect mean we have examples that work with git pushes of git tags

[2019-12-11 15:18] mnuttall opened #399 "Extend EventListener Route to support self-signed HTTPS"
As a developer I want to set up a webhook from GitHub to the Dashboard webhooks extension EventListener that uses an https:// URL. I want to do this on both OpenShift under this issue.

Extend the webhooks-extension deployment with two global flags:
1. The first, 'Use https for webhooks' would cause all webhooks to be created with https:// prefixes. This should be set to 'true' by default on OpenS

[2019-12-11 17:37] a-roberts commented on #388
We've got the fix for this
[code]

So specifically in the two OpenShift yamls we maintain (release and dev), for the monitor TaskRun we use serviceAccountName and we augment `tekton-triggers-minimal` (the ClusterRole) to include `list` and `get` for PipelineRuns.

[2019-12-11 21:19] ncskier opened #400 "Tekton Triggers resources in different namespace from Tekton Pipelines"
# Expected Behavior
I expect to import my Tekton resources all into the Namespace that I am operating under. For example, if I want to run my Pipeline in Namespace `foo`, then I expect to import my Tekton Pipelines, Tasks, TriggerTemplates, TriggerBindings, etc. into the `foo` Namespace.

# Actual Behavior
Currently, for the webhooks extension to function properly, the Tekton Pipeline resources mu

[2019-12-12 09:17] dibbles commented on #400
The problem here is that we run a single eventlistener ..... to facilitate this, we would need to move an eventlistener per pipeline (which could be in multiple namespaces) - this then means a single repo might need to have multiple webhooks configured against it if it wants to run multiple pipelines...... it becomes a question of the architecture we want to run with.

OR ..... it is a question of

[2019-12-12 09:50] a-roberts commented on #397
Starting point

![image](https://user-images.githubusercontent.com/12814972/70701505-5e54b980-1cc4-11ea-8892-be7521b1b823.png)

(with a webhook set up)

Reopen the PR
See this pod activity

[code]

![image](https://user-images.githubusercontent.com/12814972/70701632-978d2980-1cc4-11ea-8cbb-e0c504e706e2.png)

simple-pipeline-run?

![image](https://user-images.githubusercontent.com/12814972/70701667

[2019-12-12 09:54] dibbles commented on #397
User error .... you have multiple webhooks in github .... they are on different clusters.

[2019-12-12 09:57] a-roberts commented on #397
@dibbles just tried to reproduce this and now can't (running with the latest release OpenShift yaml), indeed ^^ was the above cause, closing this 😅

[2019-12-12 09:57] #397 closed

[2019-12-12 10:05] a-roberts commented on #395
Reproduced oddities here, deleted the running PipelineRun for my pull request as mentioned in the recreate.

I noticed a comment was made saying the PipelineRun had failed, then it went back to pending, and then I commented with just the table headers, so here's what I end up with:

![image](https://user-images.githubusercontent.com/12814972/70702809-cc01e500-1cc6-11ea-89b8-552690233c74.png)

![im

[2019-12-12 10:06] mnuttall opened #401 "Webhooks extension docs need updating for 0.3 release"
Webhooks-extension doc need some attention further to the 0.3 release.
- https://github.com/tektoncd/experimental/blob/master/webhooks-extension/README.md states, ' The link below does not contain all the information needed at this time - this message can be removed after the 0.3 release occurs.'
- https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/InstallPrereqs.md refer

[2019-12-12 11:16] a-roberts commented on #388
Merged into 0.3.0 branch so closing, release assets to be modified next

[2019-12-12 11:16] #388 closed

[2019-12-12 13:31] Megan-Wright commented on #384
/close

[2019-12-12 13:31] #384 closed

[2019-12-12 13:38] akihikokuroda commented on #343
So far,I could set up webhook in AWS EKS.  The webhook notification comes in the eventlistner but the validation is failing.

The changes that are necessary to make the ingress work in the EKS are:
1. create webhook with a dummy webhook url.
2.  add 2 annotations in  the ingress
[code]
3. add `serviceType` with the value `LoadBalancer` in the eventlistener CR to make the event listener service typ

[2019-12-12 14:04] akihikokuroda commented on #343
The validation is failing with
[code]
at
[code]
I'll look at the eventlistener if it add the `content-type`.

[2019-12-12 14:30] ncskier commented on #400
Throwing out another idea, we could run one EventListener per Namespace. So the EventListener would have access to the resources in its Namespace.

[2019-12-12 15:35] a-roberts opened #404 "Monitor Task deletes previous comments"
I'm seeing this with our 0.3.0 OpenShift extension release yaml

- Install Tekton Pipelines and Tekton Triggers through openshift-pipelines 0.8.1 into OCP 4.2
- Create a webhook
- Create a pull request, add some comments
- You can either push to your branch for the PR or reopen your PR
- Wait for your PipelineRun to fail
- Refresh the page
- Observe your previous comments are now gone

Logs
[code]

[2019-12-12 16:13] a-roberts commented on #395
One way I think we can fix this is with a simple else for the if:

`if len(api_response["items"]) > 0:`

We can set a flag and then only write the comment (the table) in this scenario.

Unfortunately to complete my testing of this we really want https://github.com/tektoncd/experimental/issues/404 fixed, which I found while implementing this. For this code change we've agreed on using `Error` for t

[2019-12-12 16:43] a-roberts commented on #404
Have a fix for this

[code]

testing with no existing comments now

[2019-12-12 19:46] ncskier opened #405 "Webhook 422 Validation Failed Error"
I tried creating a Webhook on OpenShift, and ran into this error after clicking the `Create` button:
[code]

Here's a screenshot:
![Screen Shot 2019-12-12 at 2 18 35 PM](https://user-images.githubusercontent.com/16961496/70741904-66275480-1cea-11ea-9192-bb1b267226ed.png)

I've successfully created the same webhook with these credentials on Docker for Desktop, so I'm not sure what's going wrong.

I

[2019-12-13 10:16] a-roberts commented on #404
^^ all is well, adding the fix into the release assets and 0.3.0 branch now

[2019-12-13 10:35] a-roberts commented on #405
This is an interesting one, I hit the encoding message error too. May be different to your circumstance but can you check your image in use for Tekton Pipelines, and that the ClusterRoleBinding is set up and being used correctly (e.g. by Tekton Pipelines in the openshift-pipelines namespace)?

IIRC I was actually using 0.7 and it was to do with serviceAccountName and we were surfacing such an erro

[2019-12-13 10:58] #331 closed

[2019-12-13 11:00] mnuttall opened #406 "Update webhooks release automation post-Kustomize"
Further to https://github.com/tektoncd/experimental/pull/403 and https://github.com/tektoncd/plumbing/pull/156 we need to automate the webhooks release automation in the tekton/ directory to use Kustomize to generate our release yamls.

[2019-12-13 11:02] a-roberts commented on #394
Merged so closing 🎉

Linking here to the dashboard issue @ncskier made too: https://github.com/tektoncd/dashboard/issues/822

Note I had to upgrade my kubectl version (I think the minimum is 1.16) using brew to be able to do the `kubectl -k` commands.

[2019-12-13 11:02] #394 closed

[2019-12-13 13:24] a-roberts commented on #400
Seems reasonable, so when creating a webhook we'd use the namespace there instead of the install namespace, see https://github.com/tektoncd/experimental/blob/master/webhooks-extension/pkg/endpoints/webhook.go#L444 for that EventListener, and the namespace itself does get included in the route, for example I've got this route:

[code]

And of course we'd have to do the same for the validator servic

[2019-12-13 14:27] Megan-Wright commented on #389
/assign

[2019-12-13 16:47] a-roberts commented on #395
So far I have this

![image](https://user-images.githubusercontent.com/12814972/70816767-1b7c0a00-1dc8-11ea-9e70-85f1d39c21a3.png)

which involves a customisable missing comment (I've got a German translation example too that compliments the others)

Testing the scenario now where the monitor task is looking at multiple PipelineRuns and only the one is deleted, so we should have a table with

Miss

[2019-12-13 16:47] a-roberts commented on #395
So far I have this

![image](https://user-images.githubusercontent.com/12814972/70816767-1b7c0a00-1dc8-11ea-9e70-85f1d39c21a3.png)

which involves a customisable missing comment (I've got a German translation example too that compliments the others)

Testing the scenario now where the monitor task is looking at multiple PipelineRuns and only the one is deleted, so we should have a table with

Miss

[2019-12-13 20:46] akihikokuroda commented on #343
PR: https://github.com/tektoncd/experimental/pull/409

[2019-12-17 15:07] a-roberts commented on #240
Closing this off, we now run Trigger templated code through our managed EventListener, we could update our pipeline examples in the hotel (embedding the resource in the PipelineRun spec) but that's completely separate from this really and can be done whenever we like, closing

[2019-12-17 15:07] #240 closed

[2019-12-17 21:51] ncskier opened #414 "Improve WEBHOOK_CALLBACK_URL setting/error reporting"
# Expected Behavior
The [install instructions](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/InstallNightlyBuild.md) specify that the deployment's `WEBHOOK_CALLBACK_URL` value must be updated with the user's specific subdomain. For a nice user experience, I expect to be notified if I have forgotten this step during installation. Here are two instances where issues we

[2019-12-17 21:52] ncskier commented on #405
Following up on this issue, it was user error. I did not change the `WEBHOOK_CALLBACK_URL` in the `webhooks-extension` deployment (install instructions [here](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/InstallNightlyBuild.md)).

However, I think that this is a gap in the Webhook Extension's UX, so I've created a UX issue here: https://github.com/tektoncd/experimen

[2019-12-17 21:52] #405 closed

[2019-12-18 09:58] #406 closed

[2019-12-19 10:55] mnuttall opened #416 "Re-check RedHat OpenShift registry on 4.2 and update docs"
Our document `NotesOnOpenShiftInstallations.md` in the section [Pushing to the OpenShift registry using webhooks](https://github.com/tektoncd/experimental/blob/master/webhooks-extension/docs/NotesOnOpenShiftInstallations.md#pushing-to-the-openshift-registry-using-webhooks) specifies a registry location of

```image-registry.openshift-image-registry.svc:5000/kabanero```

 but in https://github.com/

[2019-12-27 23:58] chapmanc commented on #385
Sorry what was the solution to this @ncskier. I am running into this whenever I run a pipeline from the tkn cli but not when I explicitly define a pipelinerun.  Did you manually update your TriggerTemplates?

[2020-01-02 21:25] danielhelfand commented on #391
/assign

[2020-01-03 22:55] chapmanc opened #417 "Cannot create webhook with enterprise github and company CA cert"
# Expected Behavior

When configuring webhooks extension, it should be possible to use a github enterprise that has it's own CA.

# Actual Behavior

Create a webhook and make the Repository URL an enterprise github with it's own CA.  It will fail with an errror:

Failed to create webhook, error returned was : Get https://<entprisegithub>/api/v3/repos/haas/canal/hooks: x509: certificate signed by u

[2020-01-06 11:13] a-roberts commented on #404
This was merged a while back so closing

[2020-01-06 11:13] #404 closed

[2020-01-06 11:16] a-roberts commented on #395
PR at https://github.com/tektoncd/experimental/pull/408, seeing some funky test failures atm

[2020-01-06 17:53] a-roberts commented on #395
Fix is merged so closing

[2020-01-06 17:53] #395 closed

[2020-01-07 09:14] a-roberts opened #419 "Update monitor task to work with Tekton 0.9"
The PullRequest resource has changed since 0.8 so under this item check that the monitor task works (I'm 99% sure it won't, we rely on certain files being in certain places) and then do a PR - helpfully it's now just to the one place

Hint: https://github.com/tektoncd/pipeline/releases/download/v0.9.2/release.yaml, reopen an existing PR, watch the monitor task and see what happens

Update: can't i

[2020-01-07 09:50] a-roberts opened #420 "Webhooks extension containers should run as non-root"
See https://github.com/tektoncd/dashboard/pull/862#pullrequestreview-339124743 - I suspect our containers atm run as root and that's not cool, so under this task make it not so and also figure out how to make the published images (through a Tekton pipeline) the same

[2020-01-07 09:52] a-roberts commented on #419
This is the error

[code]

[2020-01-07 13:06] #349 closed

[2020-01-07 14:07] akihikokuroda commented on #401
/assign

[2020-01-07 14:39] #46 closed

[2020-01-07 14:41] mnuttall commented on #56
Leaving this open so we can find it, but no further work required at this point.

[2020-01-07 15:24] a-roberts commented on #419
Spoke with @wlynch about this and we've got https://github.com/tektoncd/pipeline/issues/1816 created 🎉 including for GitLab which @dibbles will find useful.

I think we're stuck on this until that's delivered short of changing to use the REST API (which we already do in places), I'd rather hold off on doing this until we have something to try from the Tekton side though.

[2020-01-07 17:22] akihikokuroda commented on #401
PR: https://github.com/tektoncd/experimental/pull/423

[2020-01-07 18:24] akihikokuroda commented on #399
/assign

[2020-01-07 18:40] akihikokuroda commented on #399
What is the global flag?
  The webhook URL including the protocol is an environment variable in the deployment now.  It can be updated by the user before install.  The InstallxxxBuild.md has install command examples with the sed command embedded to replace the address part of the URL.
Is this issue updating the example command to include the replacing the protocol part of the URL?

[2020-01-08 13:23] a-roberts commented on #419
@wlynch's change is good I think, it's trying to use github.ibm.com correctly now

I've had to change the triggertemplate (in code it would be in the monitor task though) to use `authToken` not `githubToken` and now I get

[code]

which I'll fix next.

[2020-01-09 11:48] a-roberts opened #426 "Fix example pipelines to work with latest Triggers code"
** Important note that this is for master of triggers - I can use 0.1 in the meantime, it's expected whatever fix is delivered should work with both 0.1 and 0.2 as we think there are other changes required to use Triggers 0.2 we would need anyway*

We have a bunch of example trigger templated pipelines that we use for our tests at https://github.com/pipeline-hotel/example-pipelines/tree/master/tri